/* v1.5.0.0 */
.topTableRentalClass td.bodyblue{
    width:250px;
}
.topTableRentalClass td.body{
    width:400px;
}
#gvRentals [onclick] {
    cursor: pointer;
}
a:visited {
	color: #333333;
	text-decoration: underline;
}

a.leftnav:hover {
	color: #FF0000;
	text-decoration: none;
}

a.leftnav:active, a.leftnav:link, a.leftnav:visited {
	color: #FFFFFF;
	text-decoration: none;
}

a.mini:link, a.mini:visited {
	color: #FF0000;
	text-decoration: underline;
}

a.mini:active {
	color: #00FF00;
	text-decoration: underline;
}

a.subnav:link, a.subnav:visited {
	color: #000099;
	text-decoration: none;
}

a.subnav:hover {
	color: #990000;
	text-decoration: underline;
}

a.subnav:active {
	color: #006699;
	text-decoration: none;
}

a:link, a:hover, a:active, a.mini:hover {
	color: #000000;
	text-decoration: underline;
}

body {
	font-family: Arial;
}

p.login, .login, li {
	color: #27377F;
	font-family: Verdana, Arial;
	font-size: 10pt;
}

table.box, {
	border: 1px solid #000099;
}

td {
	font : 8pt;
}

td.indentedtd {
	padding-left: 17px;
}

th.box, td.box {
	border-bottom: 1px solid #000099;
	border-top: 1px solid #000099;
}

.autoflowdiv {
	overflow: hidden;
}

.body {
	color: #000000;
	font-family: Arial, 'sans serif';
	font-size: 10pt;
	line-height: 10pt;
	margin: 2px 5px 2px 8px;
}

.bodyblue {
	color: #000099;
	font-family: Arial, sans serif;
	font-size: 10pt;
	font-weight: bold;
}

.bodyleaded {
	color: #000000;
	font-family: Arial, sans serif;
	font-size: 10pt;
	font-weight: bold;
	line-height: 12pt;
	margin-left: 8px;
	margin-right: 5px;
	margin-top: 10px;
}

.cell {
	border-bottom: 1px solid;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}

.errormessage {
	color: #FF3300;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.okmessage {
	color: #000099;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.formcaption {
	color: #000000;
	font-family: Arial, sans serif;
	font-size: 11pt;
	font-weight: bold;
	line-height: 12pt;
	margin: 5px 15px 5px 8px;
}

.header {
	color: #000000;
	font-family: Arial, sans serif;
	font-size: 12pt;
	font-weight: bold;
	margin: 5px 0px 8px 8px;
}

.headerred {
	color: #FF0000;
	font-family: Arial, sans serif;
	font-size: 14pt;
	font-weight: bold;
	margin: 0px 8px 4px;
}

.headerreddata {
	color: #FF0000;
	font-family: Arial, sans serif;
	font-size: 10pt;
	font-weight: bold;
	margin: 2px 8px;
}

.leftnav {
	color: #FFFFFF;
	font-family: Arial, sans serif;
	font-size: 8pt;
	font-weight: bold;
	line-height: 10pt;
	margin: 0px 5px 6px 10px;
}

.loggedinas {
	color: #808080;
	font-family: Arial;
	font-size: 8pt;
}

.loggedinname {
	color: #000000;
	font-family: Arial;
	font-size: 8pt;
	font-weight: bold;
}

.mini {
	color: #000000;
	font-family: Arial, sans serif;
	font-size: 8pt;
	line-height: 8pt;
	margin: 0px 0px 3px 8px;
}

.modalheader {
	color: #000000;
	font-family: Arial;
	font-size: 12pt;
	font-weight: bold;
}

.nolink {
	color: #C0C0C0;
	font-size: 11px;
	font-weight: bold;
}

.resultcaption {
	color: #000099;
	font-family: Arial, sans serif;
	font-size: 10pt;
	font-weight: bold;
	line-height: 12pt;
	margin-left: 8px;
	margin-right: 5px;
	margin-top: 0px;
}

.resultdata {
	color: #000000;
	font-family: Arial, sans serif;
	font-size: 10pt;
	line-height: 12pt;
	margin-right: 5px;
	margin-top: 0px;
}

.subnav {
	color: #000099;
	font-family: Arial, sans serif;
	font-size: 8pt;
	font-weight: bold;
	line-height: 8pt;
	margin: 6px 3px 3px 0px;
}

.tabdesel {
	background-color: #E7E7F7;
	border: 1px solid #000099;
	color: #000099;
	cursor: hand;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 2px 8px 5px 8px;
	position: relative;
	z-index: 1;
}

.tabsel {
	background-color: #FFFFFF;
	border: 1px solid #000099;
	border-bottom: 0;
	color: #000099;
	cursor: default;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 8px 6px 8px;
	position: relative;
	z-index: 2;
}

.tinybreak {
	font-size: 2pt;
}

#divtooltip {
	position: absolute;
	visibility: hidden;
	z-index: 200;
}

#outer{
	display: table; /* for mozilla/opera*/
	height: 100%;
	width: 100%;
}

.data {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  width:100%;
}