/* v1.5.0.0 */

.sort-arrow
{
  width: 10px;
  height: 10px;
  background-position: center;
  background-repeat: no-repeat;
}

.sort-arrow.descending
{
  background-image:url("../images/grid_down.gif");
}

.sort-arrow.ascending
{
  background-image:url("../images/grid_up.gif");
}

.theader
{
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  padding: 2px;
  background: #E7E7F7;
  border-bottom: 1px solid #99CCFF;
  border-right: 1px solid #99CCFF;
  border-left: 1px solid #99CCFF;
  border-top: 1px solid #99CCFF;
  cursor: hand;
}
