   #divContainer{
      width: 800px;
   }
   .breadcrumb {
      width:600px;
   }
   .breadcrumb_item {
      padding:5px;
      width:100px;
      float: left;
      border: 1px solid #C0C0C0;
      font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
      font-size: 10pt;
      font-weight: normal;
      color: #000000;
      cursor: hand;
      background-color: #efefef;
   }
   .breadcrumb_selected {
      padding:5px;
      width:100px;
      float: left;
      border: 1px solid #C0C0C0;
      background-color: #2C62CC;
      font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
      font-size: 10pt;
      font-weight: bold;
      color: #FFFFFF;
      cursor: hand;
   }
   .breadcrumb_disabled {
      background-color: #C0C0C0;
      cursor: arrow;
   }
   .tabPage {
      display: block;
      border: #00FF00;
   }
   .tabHeader {
      font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
      font-size: 11pt;
      font-weight: bold;
      margin: 18 0 0 0;
      border: 0px;
      border-bottom:2px solid #c0c0c0;
      float:left;
      width:300px;
   }
   .label {
   	color: #000099;
   	font-size: 9pt;
   	font-weight: bold;
   	vertical-align: text-bottom;
   }
   .data {
   	color: #000099;
   	font-family: Arial, sans-serif;
   	font-size: 9pt;
   	font-weight: normal;
   	margin: 0px;
      padding: 0px;
   	padding-bottom: 24px;
   	vertical-align: text-bottom;
      border: 1px solid #0000FF;
   }
   .divStep, .hidden {
      display:none;
   }
   .visible {
      display: inline;
   }
   .validationIcon{
      height: 17px;
      width:17px;
      vertical-align: middle;
   }
   .validationPassed {
   }
   .validationFailed {
   }
   .legend {
   	color: #000099;
   	font-family: Arial, sans-serif;
   	font-size: 9pt;
   	font-weight: bold;
   	margin: 5px 15px 5px 8px;
   	padding-right: 4px;
   	height: 24px;
   	vertical-align: text-bottom;
   }
   .required {
      font-weight: normal;
      font-size: 9pt;
      height:20px;
      color: #000099;
   }
   .dataSummary {
      font-family: Arial, sans-serif;
      font-size: 10pt;
      color: #000000;
      width:100%;
      vertical-align:middle;
      background-color:transparent;
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
   }
   .tooltip {
	   background-color:#660099;
	   border:1px solid #fff;
	   padding:10px 15px;
	   width:300px;
	   display:none;
	   color:#fff;
	   text-align:left;
	   font-size:12px;
	   font-weight: bold;

	   /* outline radius for mozilla/firefox only */
	   -moz-box-shadow:0 0 10px #000;
	   -webkit-box-shadow:0 0 10px #000;
   }
   a, img {border:0px;}
   #simplemodal-container a.modalCloseImg {
   	/*background:url(/img/x.png) no-repeat;*/ /* adjust url as required */
   	width:25px;
   	height:29px;
   	display:inline;
   	z-index:3200;
   	position:absolute;
   	top:-15px;
   	right:-18px;
   	cursor:pointer;
   }
   #simplemodal-overlay {background-color:#000;}
   #simplemodal-container {background-color:#fff; border:8px solid #444; padding:12px;}
