body {
	font: Arial, sans-serif;
	}

td {
	color: #000000;
	font-family: Arial, sans-serif;
	font-size: 9pt;
	}

select {
	color: #000000;
	font-family: Arial, sans-serif;
	font-size: 9pt;
	}

td.bold {
	color: #000000;
	font-family: Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	}

td.legend {
	color: #000099;
	font-family: Arial, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	margin: 5px 15px 5px 8px;
	padding-right: 4px;
	height: 24px;
	/*vertical-align: text-bottom;*/
	}

td.legendSumm {
	color: #000099;
	font-family: Arial, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	padding-top: 6px;
	vertical-align: text-bottom;
	}

td.legend_low {
	color: #000099;
	font-family: Arial, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	line-height: 10pt;
	margin: 5px 15px 5px 8px;
	padding-right: 4px;

	}

td.legendnopad {
	color: #000099;
	font-family: Arial, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	}

td.p {
	border: 1px solid #808080;
	}
 
Input {
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: 9pt;
	}

Textarea {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	}

FORM.tb {
	display:inline;
	}

.vertFlow {
	overflow: auto;
	}

.border {
	border: 1px solid #808080;
	padding:1px;
	border-collapse: collapse;
	}

.nb {
	border: none;
	}

.bodyblue {
	color: #000099;
	font-family: Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	line-height: 10pt;
	margin: 5px 15px 5px 8px;
	}

.boldblk {
	font-size: 10pt;
	font-weight: bold;
	}

.inputView {
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: 9pt;
	border: 1px solid #87CEFA;
	}

.inputNB {
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: 8pt;
	border: 0px;
	}

.cellGrid {
	padding: 3px;
	border-right: 1px solid #000099;
	border-top: 1px double #000099;
	}
#simplemodal-container a.modalCloseImg {
	/*background:url(/img/x.png) no-repeat;*/ /* adjust url as required */
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-18px;
	cursor:pointer;
}
#simplemodal-overlay {background-color:#000;}
#simplemodal-container {background-color:#fff; border:8px solid #444; padding:12px;}

#tblRentalAdditional .txtlegendnopad{
    width:80%;
}