﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="APDDiary.aspx.vb" Inherits="APDNet.APDDiary" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>APD Diary</title>
</head>
<body bgcolor="#99ccff">
    <form id="frmAPDDiary" runat="server">
    <div>
    </div>
    </form>
</body>
</html>
