﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="ClaimXP.aspx.vb" Inherits="APDNet.ClaimXP" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Claim XP</title>
</head>
<body>
    <form id="frmClaimXP" runat="server">
    <div>
    Running...
    </div>
    </form>
</body>
</html>
