﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="Default.aspx.vb" Inherits="APDWCFServiceClient._Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>APDWCFServiceClient</title>
</head>
<body>
    <form id="frmAPDWCFServiceClient" runat="server">
    <div>
        
    </div>
    </form>
</body>
</html>
