.APDCheckBox {
    behavior: url("/behaviors/APDCheckBox.htc");
}
.APDCustomSelect {
    behavior: url("/behaviors/APDCustomSelect.htc");
}
.APDDataGrid {
    behavior: url("/behaviors/APDDataGridLabourRate.htc");
}
.APDInput {
    behavior: url("/behaviors/APDInput.htc");
}
.APDInputCurrency {
    behavior: url("/behaviors/APDInputCurrency.htc");
}
.APDInputDate {
    behavior: url("/behaviors/APDInputDate.htc");
}
.APDInputNumeric {
    behavior: url("/behaviors/APDInputNumeric.htc");
}
.APDInputPhone {
    behavior: url("/behaviors/APDInputPhone.htc");
}
.APDRadio {
    behavior: url("/behaviors/APDRadio.htc");
}
.APDRadioGroup {
    behavior: url("/behaviors/APDRadioGroup.htc");
}
.APDStatus {
    behavior: url("/behaviors/APDStatus.htc");
}
.APDLabel {
    behavior: url("/behaviors/APDLabel.htc");
}
.APDButton {
    behavior: url("/behaviors/APDButton.htc");
}
.APDTab {
    behavior: url("/behaviors/APDTab.htc");
}
.APDTextarea {
    behavior: url("/behaviors/APDTextarea.htc");
}

.APDFileOpen {
    behavior: url("/behaviors/APDFileOpen.htc");
}

.tabPage {
    display: "none";
    overflow: hidden;
    background-Color: "#FFFFFF";
}

.dropDownItemOver {
    font-Family:"Tahoma, Arial, Verdana";
    font-Size:"11px";
    border:"1px solid #CCCCCC";
    padding:"1px";
    cursor:"default";
    width:"100%";
    height:"18px";
    color:"#B8860B";
    white-Space:"nowrap";
    background-Image:url("/images/input_bkgd.png");
}

.APDTabGroup {behavior: URL("/behaviors/APDTabGroup.htc");}
.APDRadioGroup {behavior: URL("/behaviors/APDRadioGroup.htc");}
.APDStatus {behavior: url("/behaviors/APDStatus.htc");}

.TDLabel {
  font-family: Tahoma,Verdana,Arial;
  font-size:11px;
}

TD {
  font-family: Tahoma,Verdana,Arial;
  font-size:11px;
}

IFRAME { border:0px;  }
body { 
  border:0px;  
	SCROLLBAR-FACE-COLOR: #DDDDDD;
	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-SHADOW-COLOR: #FFFFFF;
	SCROLLBAR-3DLIGHT-COLOR: #CCCCCC;
	SCROLLBAR-ARROW-COLOR: #A7A800;
	SCROLLBAR-TRACK-COLOR: #EEEEEE;
	SCROLLBAR-DARKSHADOW-COLOR: #CCCCCC;
}
A {color:black; text-decoration:none;}

DIV {
	SCROLLBAR-FACE-COLOR: #DDDDDD;
	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-SHADOW-COLOR: #FFFFFF;
	SCROLLBAR-3DLIGHT-COLOR: #CCCCCC;
	SCROLLBAR-ARROW-COLOR: #A7A800;
	SCROLLBAR-TRACK-COLOR: #EEEEEE;
	SCROLLBAR-DARKSHADOW-COLOR: #CCCCCC;
}
