A.tab {
	color : #FFFFFF;
	font-size : 11px;
	text-decoration : none;
}

.bodyAPDFrame {
	background-color : #336699;
	color : #000000;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

.DataFrame {
	border : #999999 ridge;
	border-width : 0px 2px 2px;
	color : #000000;

	background-image : url(/images/00_logo.gif);
	position : absolute;
	visibility : visible;
	z-index : 4;
	height : 521px;
	width : 758px;
	left : 178px;
	top : 135px;
	clip : rect( );
}

.DataIFrame {

	color : #000000;

	position : absolute;
	visibility : hidden;
	z-index : 8;
	left : 0px;
	top : 0px;
	clip : rect( );
	height : 100%;
	width : 100%;
	
}

.GeneralLayer {
	padding-top : 1px;
	border-right : 1px solid #000099;
	border-bottom : 1px solid #000099;
	border-left : 1px solid #009999;
	border-top : 1px solid #009999;
	background-color : #336699;
	position : absolute;
	visibility : visible;
	z-index : 2;
	height : 18px;
	width : 689px;
	left : 245px;
	top : 3px;
	clip : rect( );
}

A.topMenu {
	color : #00FFFF;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	text-decoration : none;
}

A.topMenu:Hover {
	color : #FFFF33;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	text-decoration : underline;
}

.topMenu:VISITED {
	color : #00FFFF;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	text-decoration : none;
}

.layerEscalation {
	border : #CCCCCC;
	border-style : solid;
	border-top-width : 1px;
	border-right-width : 1px;
	border-bottom-width : 1px;
	border-left-width : 1px;
	color : #000000;
	background-color : #EFF7FF;
	font-size : 11px;
	position : absolute;
	visibility : visible;
	z-index : 1;
	left : 3px;
	top : 413px;
	width : 170px;
	height : 75px;
	clip : rect( );
}

.layerEscalationTitle {
	padding-top : 1px;
	padding-left : 2px;
	border : 2px #CCCCCC ridge;
	color : #000066;
	background-color : #93BEE2;
	font-weight : bold;
	font-size : 12px;
	filter : progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=180, Strength=8);
	position : absolute;
	visibility : visible;
	z-index : 5;
	left : 2px;
	top : 393px;
	width : 172px;
	height : 20px;
	clip : rect( );
	text-align : center;
}

.layerExplorer {
	border : #CCCCCC;
	border-style : solid;
	border-top-width : 1px;
	border-right-width : 1px;
	border-bottom-width : 1px;
	border-left-width : 1px;
	background-color : #EFF7FF;
	position : absolute;
	visibility : visible;
	z-index : 1;
	left : 3px;
	top : 130px;
	width : 170px;
	height : 263px;
	clip : rect( );
}

.layerExplorerTitle {
	padding-top : 1px;
	padding-left : 2px;
	border : 2px #CCCCCC ridge;
	color : #000066;
	background-color : #93BEE2;
	font-weight : bold;
	font-size : 12px;
	filter : progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=180, Strength=8);
	position : absolute;
	visibility : visible;
	z-index : 5;
	left : 2px;
	top : 110px;
	width : 172px;
	height : 20px;
	clip : rect( );
	text-align : center;
}

.layerHelp {
	border : #CCCCCC;
	border-style : solid;
	border-top-width : 1px;
	border-right-width : 1px;
	border-bottom-width : 1px;
	border-left-width : 1px;
	color : #000000;
	background-color : #EFF7FF;
	font-size : 11px;
	position : absolute;
	visibility : visible;
	z-index : 1;
	left : 3px;
	top : 505px;
	width : 170px;
	height : 150px;
	clip : rect( );
}

.layerHelpContext {
	color : #000000;
	font-size : 11px;
	position : absolute;
	visibility : visible;
	z-index : 1;
	left : 5px;
	top : 510px;
	width : 165px;
	height : 150px;
	clip : rect( );
}

.layerHelpTitle {
	padding-top : 1px;
	padding-left : 2px;
	border : 2px #CCCCCC ridge;
	color : #000066;
	background-color : #93BEE2;
	font-weight : bold;
	font-size : 12px;
	filter : progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=180, Strength=8);
	position : absolute;
	visibility : visible;
	z-index : 5;
	left : 2px;
	top : 488px;
	width : 172px;
	height : 20px;
	clip : rect( );
	text-align : center;
}

.LogoLayer {
	padding-left : 3px;
	border-style : none;
	background-color : #FFFFFF;
	position : absolute;
	visibility : visible;
	z-index : 2;
	height : 104px;
	width : 234px;
	left : 3px;
	top : 3px;
	clip : rect( );
}

.TitleLayer {
	padding-top : 2px;
	border : outset #CCCCCC;
	border-width : 2px 2px 1px;
	color : #FFFFFF;
	background-color : #003399;
	font-size : 13px;
	font-weight : bold;
	filter : progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=180, Strength=8);
	position : absolute;
	visibility : visible;
	z-index : 1000;
	height : 24px;
	width : 758px;
	left : 179px;
	top : 110px;
	clip : rect( );
	text-align : center;
}

.verticalSep{
	border : 1px none #000000;
	background-image : url(/images/f.s.gif);
	position : absolute;
	width : 5px;
	height : 547px;
	z-index : 10;
	left : 174px;
	top : 108px;
	visibility : visible;
}

.WorkflowLayer {
	border-right : 1px solid #000099;
	border-bottom : 1px solid #000099;
	border-left : 1px solid #33CCFF;
	border-top : 1px solid #33CCFF;
	background-color : #93BEE2;
	position : absolute;
	visibility : visible;
	z-index : 2;
	height : 35px;
	width : 689px;
	left : 245px;
	top : 70px;
	clip : rect( );
}


.ClaimLayer {
	border : none;
	padding-top : 2px;
	padding-left : 2px;
	color : #000000;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	font-variant : normal;
	position : absolute;
	visibility : visible;
	z-index : 2;
	height : 40px;
	width : 691px;
	left : 243px;
	top : 25px;
	clip : rect( );
}


.MFX {
	border-style : none;
	background-color : #EFF7FF;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	cursor : hand;
	position : absolute;
	visibility : hidden;
	left : 3px;
	width : 170px;
	clip : rect( );
}

.MFXmenu {
	color : #000066;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	cursor : hand;
	text-decoration : none;
}

.MFXsub {
	color : #000066;
	background-color : #EFF7FF;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	position : absolute;
	visibility : hidden;
	clip : rect( );
	text-decoration : none;
}

.TitleHeader {
	padding-top : 0px;
	padding-right : 0px;
	padding-bottom : 0px;
	padding-left : 0px;
	margin-top : 0px;
	margin-right : 0px;
	margin-bottom : 0px;
	margin-left : 0px;
	border : 1px #666666 solid;
	background-color : #FFFFFF;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	position : relative;
	visibility : inherit;
	z-index : 2;
	width : 100%;
	left : 0px;
	top : 0px;
	clip : rect( );
	overflow : hidden;
}

.TitleHeaderRow {
	border-color : #CCCCCC #666666 #666666 #CCCCCC;
	padding-top : 0px;
	padding-right : 0px;
	padding-bottom : 1px;
	padding-left : 0px;
	border-style : solid;
	border-top-width : 1px;
	border-right-width : 1px;
	border-bottom-width : 1px;
	border-left-width : 1px;
	color : #333333;
	background-color : #FFF7E5;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	text-align : center;
	vertical-align : middle;
}

.TitleInfo {
	border-color : #CCCCCC #CCCCCC;
	border-style : solid;
	border-top-width : 0px;
	border-right-width : 1px;
	border-bottom-width : 1px;
	border-left-width : 0px;
	color : #000000;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	text-align : center;
	vertical-align : middle;
	white-space : nowrap;
}
