.Header {
  font-family: Tahoma, Arial, Verdana;
  font-size: 11px;
  border-left: 0px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  border-bottom: 2px solid #C0C0C0;
  border-right: 0px solid #999999;
  background-color : #E4E6EC;
  font-weight : bold;
  text-align : center;
  vertical-align : middle;
  color: #000000;
  cursor: default;
  padding:2px;
}

.SortHeader {
  font-family: Tahoma, Arial, Verdana;
  font-size: 11px;
  border-left: 0px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  border-bottom: 2px solid #C0C0C0;
  border-right: 0px solid #999999;
  background-color : #E4E6EC;d6d2c2; 
  font-weight : bold;
  text-align : center;
  vertical-align : middle;
  color: #0000CC;
  padding:2px;
  cursor : hand;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.HeaderHighlight {
  font-family: Tahoma, Arial, Verdana;
  font-size: 11px;
  border-left: 0px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  border-bottom: 2px solid #FF8C00;
  border-right: 0px solid #999999;
  background-color : #E4E6EC;
  font-weight : bold;
  text-align : center;
  vertical-align : middle;
  color: #000000;
  cursor: default;
  padding:2px;
}

.SortHeaderHighlight {
  font-family: Tahoma, Arial, Verdana;
  font-size: 11px;
  border-left: 0px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  border-bottom: 2px solid #FF8C00;
  border-right: 0px solid #999999;
  background-color : #E4E6EC;d6d2c2; 
  font-weight : bold;
  text-align : center;
  vertical-align : middle;
  color: #0000CC;
  padding:2px;
  cursor : hand;
}

.autoflowTable {
  border-bottom-color : Gray;
  border-bottom-style : solid;
  border-bottom-width : 1px;
  overflow : auto;
  scrollbar-face-color : #BBCCDD;
  background-color : #FFFFFF;
  border-left-color : Gray;
  border-left-style : solid;
  border-left-width : 1px;
  border-right-color : Gray;
  border-right-style : solid;
  border-right-width : 1px;
  SCROLLBAR-FACE-COLOR: #DDDDDD;
  SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
  SCROLLBAR-SHADOW-COLOR: #FFFFFF;
  SCROLLBAR-3DLIGHT-COLOR: #CCCCCC;
  SCROLLBAR-ARROW-COLOR: #A7A800;
  SCROLLBAR-TRACK-COLOR: #EEEEEE;
  SCROLLBAR-DARKSHADOW-COLOR: #CCCCCC;

}


.slider {
  SCROLLBAR-FACE-COLOR: #DDDDDD;
  SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
  SCROLLBAR-SHADOW-COLOR: #FFFFFF;
  SCROLLBAR-3DLIGHT-COLOR: #CCCCCC;
  SCROLLBAR-ARROW-COLOR: #A7A800;
  SCROLLBAR-TRACK-COLOR: #EEEEEE;
  SCROLLBAR-DARKSHADOW-COLOR: #CCCCCC;
}

.DataVal {
  font: 11px Tahoma, Arial, Verdana;
  color: #000000;
  width:100%;
  vertical-align:middle;
  background-color:transparent;
  cursor: hand;
}

.DataVal2 {
  font: 11px Tahoma, Arial, Verdana;
  color: #000000;
  vertical-align:middle;
  background-color:transparent;
  cursor: hand;
}

.DataValNoWrap {
  font: 11px Tahoma, Arial, Verdana;
  color: #000000;
  width:100%;
  vertical-align:middle;
  background-color:transparent;
  cursor: hand;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.DataValNoWrap2 {
  font: 11px Tahoma, Arial, Verdana;
  color: #000000;
  vertical-align:middle;
  background-color:transparent;
  cursor: hand;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.DataImg {
  vertical-align:middle;
  background-color:transparent;
  cursor: hand;
}

.Data {
  padding-left:3px;
  border:0px;
  border-bottom:1px solid #C0C0C0;
  border-right:1px solid #C0C0C0;
  background-color:transparent;
}

.DataRowLine {
  padding-left:3px;
  border:0px;
  border-bottom:1px solid #C0C0C0;
  background-color:transparent;
}

.DataColLine {
  padding-left:3px;
  border:0px;
  border-right:1px solid #C0C0C0;
  background-color:transparent;
}

.DataNoLine {
  padding-left:3px;
  border:0px;
  background-color:transparent;
}

