.ClaimMiscInputs {
	color : #000000;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

.QueueHeader {
	border-bottom-width : 1px;
	border-color : #000000 #000000 #333333;
	border-left-width : 0px;
	border-right-width : 0px;
	border-style : solid;
	border-top-width : 0px;
	background-color : #CCCCCC;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	text-align : center;
	vertical-align : middle;
}

.TableSortHeader {
	background-color : #CCCCCC;
	border-bottom-color : #000000;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #FFFFFF;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #FFFFFF;
	border-top-style : solid;
	border-top-width : 1px;
	color : #000066;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
	text-align : center;
	vertical-align : middle;
	cursor : hand;
}

.autoflowTable {
	border-bottom-color : Gray;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	overflow : auto;
	scrollbar-face-color : #BBCCDD;
	background-color : #FFFFFF;
	border-left-color : Gray;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : Gray;
	border-right-style : solid;
	border-right-width : 1px;
	SCROLLBAR-FACE-COLOR: #DDDDDD;
	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-SHADOW-COLOR: #FFFFFF;
	SCROLLBAR-3DLIGHT-COLOR: #CCCCCC;
	SCROLLBAR-ARROW-COLOR: #A7A800;
	SCROLLBAR-TRACK-COLOR: #EEEEEE;
	SCROLLBAR-DARKSHADOW-COLOR: #CCCCCC;

}

.GridTypeTable {
	border-left : 1px solid #C0C0C0;
}

.GridTypeTD {
	border-bottom : 1px solid #BBBBBB;
	border-right : 1px solid #BBBBBB;
	border-left : 1px solid #FFF0F5;
	border-top : 1px solid #FFF0F5;
	text-align : center;
  font-family: Tahoma,Verdana,Arial;
  font-size:11px;
}

.arrow {
	color : navy;
	font-family : webdings;
	font-size : 10px;
   overflow : hidden;
}