/* Common */
BODY {
	border : 0px #999999 none;
	background-color : #FFFFFF;
	color : #000000;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

SELECT {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

TABLE {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

TD {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

TH {
	color : #000066;
}

.boldText {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
}

.formbutton {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
}

.inputField {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

.exheading {
	padding-left : 2px;
	font-weight : bold;
	cursor : hand;
}

.exindent {
	padding-left : 20px;
}

.outline {
	border : 1px solid #CCCCCC;
	background : #FFFFFF;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

.QueueHeader {
	border-bottom-width : 1px;
	border-color : #000000 #000000 #333333;
	border-left-width : 0px;
	border-right-width : 0px;
	border-style : solid;
	border-top-width : 0px;
	background-color : #CCCCCC;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	text-align : center;
	vertical-align : middle;
}

.GridTypeHeader {
	border-bottom-color : #000000;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #FFFFFF;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #FFFFFF;
	border-top-style : solid;
	border-top-width : 1px;
	background-color : #CCCCCC;
	color : #000066;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	text-align : center;
	vertical-align : middle;
}

/* Estimate Summary */
.inputnumEstSumm {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	text-align : right;
}

.inputnumEstSummOutline {
	border : 1px solid #CCCCCC;
	background : #FFFFFF;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	text-align : right;
}

.outlineTotals {
	border : 1px solid #CCCCCC;
	background : #FAF0E6;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	text-align : right;
}

.tdHeader {
	border-color : #000000 #999999 #999999 #000000;
	border-style : solid;
	border-top-width : 0px;
	border-right-width : 1px;
	border-bottom-width : 1px;
	border-left-width : 0px;
	color : #000066;
	background-color : #CCCCCC;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	height : 10px;
	text-align : center;
	vertical-align : middle;
}

.tdLabel {
	white-space : nowrap;
}

.ClaimFixedTable {
	border : 1px #666666 solid;
	color : #000066;
	background-color : #FFFFFF;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

.spanData {
	border-style : none;
	background-color : #FFFFFF;
	color : #000000;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	overflow : auto;
}

.spanDataInner {
	border-style : none;
	border-bottom : 1px solid #CCCCCC;
	border-right : 1px solid #CCCCCC;
	background-color : #FFFFFF;
	color : #000000;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	overflow : auto;
}

/* Shop Lookup */
.ProgShopGridTypeHeader {
	border-bottom-color : #000000;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #FFFFFF;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #FFFFFF;
	border-top-style : solid;
	border-top-width : 1px;
	background-color : #FFF7E5;
	color : #000066;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	text-align : center;
	vertical-align : middle;
}

/* Shop Lookup */
.GenShopGridTypeHeader {
	border-bottom-color : #000000;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #FFFFFF;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #FFFFFF;
	border-top-style : solid;
	border-top-width : 1px;
	background-color : #E3E3E3;
	color : #000066;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	text-align : center;
	vertical-align : middle;
}

/* Shop Lookup */
.ProgShopGrid {
	border-left : 1px solid #CCCCCC;
	border-right : 1px solid #666666;
	border-bottom : 1px solid #666666;
	border-top : 1px solid #CCCCCC;
	background-color : #FFF7E5;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

/* Shop Lookup */
.GenShopGrid {
	border-left : 1px solid #FFFFFF;
	border-right : 1px solid #666666;
	border-bottom : 1px solid #666666;
	border-top : 1px solid #DDDDDD;
	background-color : #E3E3E3;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

.ClaimHeader {
	padding-bottom : 0px;
	padding-left : 4px;
	padding-right : 0px;
	padding-top : 0px;
	border-bottom-color : #666666;
	border-left-color : #666666;
	border-right-color : #666666;
	border-top-color : #666666;
	margin-bottom : 1px;
	background-color : #FFF7E5;
	color : #000066;
	background-attachment : scroll;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
}

.ClaimSubHeader {
  color : #606060;
  font-family : Tahoma, Arial, Helvetica, sans-serif;
  font-weight : normal;
  text-align : center;
  font-size : 10px;
}

.ClaimData {
	padding-bottom : 0px;
	padding-left : 4px;
	padding-right : 0px;
	padding-top : 0px;
	background-color : #FFFFFF;
	color : #000000;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
}

.fieldInput {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

.ClaimGridTable 
{
	background-color : #FFFFFF;
	color : #000000;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

.ClaimMiscInputs {
	color : #000000;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

.ClaimStatusTable {
	border : 1px #666666 solid;
	background-color : #FFFFFF;
	color : #000066;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	text-align : center;
	vertical-align : middle;
}

.ClaimMiscTable 
{
	color : #000000;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

.StatusTypeHeader {
	border-bottom-color : #000000;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #FFFFFF;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #FFFFFF;
	border-top-style : solid;
	border-top-width : 1px;
	background-color : #FFF7E5;
	color : #000066;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	text-align : center;
	vertical-align : middle;
}

.StatusInfo {
	color : #000000;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	text-align : center;
	vertical-align : middle;
}

.PopupDiv {
	border-bottom-width : 2px;
	border-left-width : 2px;
	border-right-width : 2px;
	border-style : ridge;
	border-top-width : 2px;
	background-color : #FFFFFF;
	color : #000066;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	filter : progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=135, Strength=4);
	clip : rect( );
	height : 105px;
	overflow : auto;
	position : absolute;
	visibility : hidden;
	width : 427px;
	z-index : 1005;
}

.subHeader {
	border-bottom-width : 1px;
	border-color : #FFFFFF #FFFFFF #666666;
	border-left-width : 1px;
	border-right-width : 1px;
	border-style : solid;
	border-top-width : 1px;
	padding-left : 5px;
	background-color : #FFFFFF;
	color : #000066;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
}

.tdLabelHeader {
	border-bottom-style : inset;
	border-right-style : inset;
	border-bottom-width : 2px;
	border-right-width : 2px;
	color : #000066;
	background-color : #CCCCCC;
	font-family : Tahoma, Arial, sans-serif;
	font-size : 11px;
	font-weight : bold;
	white-space : nowrap;
}

.fieldInputNum {
	font-family : Tahoma, Arial, sans-serif;
	font-size : 11px;
	text-align : right;
}

#outerRasiedDiv {
	border : 1px #666666 solid;
	margin : 0px;
	padding-bottom : 2px;
	padding-left : 2px;
	padding-right : 2px;
	padding-top : 2px;
	background : #FFFFFF;
	color : #000000;
	height : 200px;
	left : 30px;
	overflow : hidden;
	position : absolute;
	width : 400px;
	z-index : 2;
}

#innerDiv {
	padding-bottom : 8px;
	padding-left : 8px;
	padding-right : 8px;
	padding-top : 8px;
	background : #FFFFFF;
	color : #000000;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	height : 100%;
	overflow : auto;
	width : 100%;
	visibility : inherit;
	clip : rect( );
}

A.submenu {
	color : #000066;
	font-size : 11px;
	font-family : Tahoma, san-serif;
	text-decoration : none;
}

.ClaimMiscInputsNumbers {
	background-color : #FFFFFF;
	color : #000000;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	text-align : right;
}

.nadaHeader {
	border-bottom-color : #999999;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #FFFFFF;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #FFFFFF;
	border-top-style : solid;
	border-top-width : 1px;
	background-color : #FFF7E5;
	color : #000066;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	vertical-align : middle;
}

