/* < - - APDSelect frame - - */
.bodyAPDSelect {
	background-color : #336699;
	color : #000000;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
   /* background-image : url(/images/fundo_default.gif); */
	SCROLLBAR-FACE-COLOR: #FFEBB7;
	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-SHADOW-COLOR: #FFFFFF;
	SCROLLBAR-3DLIGHT-COLOR: #CCCCCC;
	SCROLLBAR-ARROW-COLOR: #A7A800;
	SCROLLBAR-TRACK-COLOR: #FFF5EA;
	SCROLLBAR-DARKSHADOW-COLOR: #CCCCCC;
	margin: 0px; 
	border: 0px;
}

/*  - - APDSelect frame - -> */
/* < - - common - - */
.bodyAPDSub {
	background : #FFFAEB;
	border : 0px;
	color : #000000;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	SCROLLBAR-FACE-COLOR: #DDDDDD;
	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-SHADOW-COLOR: #FFFFFF;
	SCROLLBAR-3DLIGHT-COLOR: #CCCCCC;
	SCROLLBAR-ARROW-COLOR: #A7A800;
	SCROLLBAR-TRACK-COLOR: #EEEEEE;
	SCROLLBAR-DARKSHADOW-COLOR: #CCCCCC;
}

.bodyAPDSubSub {
	background : #FFFFFF;
	border : 0px;
	color : #000000;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	margin : 0 0 0 0;
	SCROLLBAR-FACE-COLOR: #DDDDDD;
	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-SHADOW-COLOR: #FFFFFF;
	SCROLLBAR-3DLIGHT-COLOR: #CCCCCC;
	SCROLLBAR-ARROW-COLOR: #A7A800;
	SCROLLBAR-TRACK-COLOR: #EEEEEE;
	SCROLLBAR-DARKSHADOW-COLOR: #CCCCCC;
}

SELECT {
	background : #F3ECE5;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

TABLE {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

TD {
	color : #333333;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

TH {
	color : #000066;
}

TEXTAREA {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	background-color : #FFFFFF;
	background : url(../images/textarea_bkgd.png) repeat;
	border-bottom : 1px solid #CCCCCC;
	border-right : 1px solid #CCCCCC;
	border-left : 1px solid #CCCCCC;
	border-top : 1px solid #CCCCCC;
	overflow : hidden;
}

.boldText {
	font-weight : bold;
}

.autoFlowSpanTitle {
	background-color:#FFFFFF;
	color:#999999;
	font-weight:bold;
}

.InputField {
	border : 0px;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	background-color : #FFFFFF;
	background : url(../images/input_bkgd.png) repeat;
	border-bottom : 1px solid #CCCCCC;
	border-right : 1px solid #CCCCCC;
	border-left : 1px solid #CCCCCC;
	border-top : 1px solid #CCCCCC;
}

.inputNoBkgrd {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #3D3D3D;
	background-color : #F8F8F8;
	border : 1px solid #F8F8F8;
	text-align: right;
}

.InputReadonlyField {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	background-color : #F2F2F2;
	border : 1px solid #F2F2F2;
}

.InputRequiredField {
	border : 0px;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	background-color : #FFFFFF;
	background : url(../images/input_bkgd.png) repeat;
	border-bottom : 1px solid #CCCC33;
	border-right : 1px solid #CCCC33;
	border-left : 1px solid #CCCC33;
	border-top : 1px solid #CCCC33;
}

.readonlyField2 {
	background : #F3ECE5;
	border-bottom : 1px solid #CCCCCC;
	border-right : 1px solid #CCCCCC;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

.fieldLabel {
	border : 1px solid #CCCCCC;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

.inputDimmed {
	border : 0px;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	background-color : #FFFFFF;
	color: #696969;
}

.smallGrouping {
	background-color : #FFFFFF;
	border : 1px solid #333377;
	padding : 6px 6px 6px 6px;
}

.smallGrouping2 {
	background-color : #FFFFFF;
	border : 1px solid #CCCCCC;
	padding : 2px 2px 0px 2px;
}

.smallGroupingTab {
	background-color : #FFFFFF;
	border : 1px solid #333377;
	border-bottom : 0;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
	padding : 3px 9px 1px 9px;
	background-image:	url( "\images\notab.active.png" ) !important;
	background-repeat: repeat-x;
}

.smallGroupingTab2 {
	background-color : #FFFFFF;
	border-left : 1px solid #CCCCCC;
	border-right : 1px solid #CCCCCC;
	border-top : 1px solid #CCCCCC;
	color : #000066;
	font-weight : bold;
	text-align : center;
}

.selBox {
	background-color : #FFFFFF;
	border : 1px solid #CCCCCC;
	padding :0px 6px 6px 6px;
	margin-top : 14px;
}

.shopMaintTabs {
	background-color : #FFFFFF;
	border-left : 1px solid #339999;
	border-right : 1px solid #339999;
	border-top : 1px solid #339999;
	color : #000066;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	text-align : center;
	vertical-align : middle;
}

.label{
	border-left : 1px solid #CCCCCC;
	border-top : 1px solid #CCCCCC;
}

/*  - - common - - > */
/* < - - inner tabs - - */
.innerTabSel {
	background-color : #FFFFFF;
	border-left : 1px solid #339999;
	border-right : 1px solid #339999;
	border-top : 1px solid #339999;
	color : #000066;
	font-weight : bold;
	text-align : center;
	vertical-align : middle;
}

.innerTabDesel {
	background-color : #FFF7E5;
	border-bottom : 2px solid #D3D3D3;
	border-left : 1px solid #339999;
	border-right : 1px solid #339999;
	border-top : 1px solid #339999;
	color : #006699;
	cursor : hand;
	font-weight : bold;
	text-align : center;
	vertical-align : middle;
}

/*  - - inner tabs - - > */
TEXTAREA.readonlyField {
	background : Scrollbar;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	background-color : #F2F2F2;
	border : 1px solid #F2F2F2;
   overflow : auto;
}

.TextAreaField {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	background-color : #FFFFFF;
	background : url(../images/textarea_bkgd.png) repeat;
	border-bottom : 1px solid #CCCCCC;
	border-right : 1px solid #CCCCCC;
	border-left : 1px solid #CCCCCC;
	border-top : 1px solid #CCCCCC;
	overflow : auto;
}
.iframeTEXTAREA {
	background : Scrollbar;
	border : 0px;
	border-bottom : 1px solid #CCCCCC;
	border-right : 1px solid #CCCCCC;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	overflow : hidden;
}

#iframeSELECT {
	background : Scrollbar;
	border : 0px none;
	border-bottom : 1px solid #CCCCCC;
	border-right : 1px solid #CCCCCC;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

.GridTypeHeader {
	background-color : #CCCCCC;
	border-bottom-color : #000000;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #FFFFFF;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #FFFFFF;
	border-top-style : solid;
	border-top-width : 1px;
	color : #000066;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
	text-align : center;
	vertical-align : middle;
}

.GridTypeTable {
	border-left : 1px solid #C0C0C0;
}

.GridTypeTD {
	border-bottom : 1px solid #BBBBBB;
	border-right : 1px solid #BBBBBB;
	border-left : 1px solid #FFF0F5;
	border-top : 1px solid #FFF0F5;
	text-align : center;
}

.autoflowTable {
	border-bottom-color : Gray;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	overflow : auto;
	scrollbar-face-color : #BBCCDD;
	background-color : #FFFFFF;
	border-left-color : Gray;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : Gray;
	border-right-style : solid;
	border-right-width : 1px;
	SCROLLBAR-FACE-COLOR: #DDDDDD;
	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-SHADOW-COLOR: #FFFFFF;
	SCROLLBAR-3DLIGHT-COLOR: #CCCCCC;
	SCROLLBAR-ARROW-COLOR: #A7A800;
	SCROLLBAR-TRACK-COLOR: #EEEEEE;
	SCROLLBAR-DARKSHADOW-COLOR: #CCCCCC;

}
.paddedTable{
	padding-left : 2px;
	padding-right : 2px;
}
.popupWorkarea {
	background-color : #FFFFFF;
	background-color : #FFFFFF;
	border : 1px solid #333377;
	clip : rect( );
	filter : progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=135, Strength=6);
	padding : 6px 6px 6px 6px;
	visibility : hidden;
}

.formbutton {
	border : 0px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
	background-color : #FFFFFF;
	background : url(../images/input_bkgd.png) repeat;
	border-bottom : 2px solid #808080;
	border-right : 2px solid #808080;
	border-left : 2px solid #D3D3D3;
	border-top : 2px solid #D3D3D3;
	cursor: hand;
}

#divTooltip {
	background-color : #f3f3f3;
	position : absolute;
	top : 0px;
	visibility : hidden;
	width : 175px;
	z-index : 20000;
}

.normalStyle {
	background-color : #f3f3f3;
	border-color : #000000;
	border-style : solid;
	border-width : 1px;
	color : #000000;
	cursor : default;
	font-family : verdana,arial,helvetica;
	font-size : 11px;
	font-weight : 500;
	padding : 2px;
	text-align : center;
	top : 100px;
	width : 175px;
}

/*<-- Table Sort Style -->*/
tbody .arrow		{
	color : navy;
	font-family : webdings;
	font-size : 10px;
   overflow : hidden;
   /*height : 11px;
	margin-bottom : 2;
	margin-top : -3;
	padding : 0;
	padding : 0;
	padding-bottom : 2;
	padding-top : 0;
   width : 10px;*/
}

.StatusTypeHeader {
	border-bottom-color : #000000;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #FFFFFF;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #FFFFFF;
	border-top-style : solid;
	border-top-width : 1px;
	background-color : #FFF7E5;
	color : #000066;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	text-align : center;
	vertical-align : middle;
}

.StatusDiv{
	border : 1px solid #CCCCCC;
	padding : 2px 2px 2px 2px;
}

.TableSortHeader {
	background-color : #CCCCCC;
	border-bottom-color : #000000;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #FFFFFF;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #FFFFFF;
	border-top-style : solid;
	border-top-width : 1px;
	color : #000066;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
	text-align : center;
	vertical-align : middle;
	cursor : hand;
}

.updButtonUp {
	color : #333366;
	background-color : #F3F3F3;
	border-bottom : 1px solid #666666;
	border-right : 1px solid #666666;
	border-left : 1px solid #CCCCCC;
	border-top : 1px solid #CCCCCC;
	padding : 1px 3px 1px 3px;
	font-family : verdana,arial,helvetica;
	font-size : 9px;
	font-weight : bold;
	text-align : center;
	cursor : hand;
	}

.updButtonOver {
	color : #333333;
	background-color : #F3F3F3;
	border-bottom : 1px solid #999999;
	border-right : 1px solid #999999;
	border-left : 1px solid #999999;
	border-top : 1px solid #999999;
	padding : 1px 3px 1px 3px;
	font-family : verdana,arial,helvetica;
	font-size : 8px;
	font-weight : bold;
	text-align : center;
	cursor : hand;
}

.updButtonDown {
	color : #333333;
	background-color : #F3F3F3;
	border-bottom : 1px solid #CCCCCC;
	border-right : 1px solid #CCCCCC;
	border-left : 1px solid #999999;
	border-top : 1px solid #999999;
	padding : 1px 3px 1px 3px;
	font-family : verdana,arial,helvetica;
	font-size : 8px;
	font-weight : bold;
	text-align : center;
	cursor : hand;
}

.ShopAssignTableSrh {
	background-color : #E3E3E3;
	border-bottom-color : #999999;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #EFEFEF;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #EFEFEF;
	border-top-style : solid;
	border-top-width : 1px;
	color : #000066;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
}

.TotalsHeader {
	color : #808080;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
}

.tdTotals {
	background-color : #999999;
}

.TableHeader {
	background-color : #CCCCCC;
	border-bottom-color : #000000;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #FFFFFF;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #FFFFFF;
	border-top-style : solid;
	border-top-width : 1px;
	color : #000066;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
	text-align : center;
	vertical-align : middle;
	padding-left : 2px;
	padding-right : 2px;
	}

.autoflowDiv {
	overflow : auto;
	SCROLLBAR-FACE-COLOR: #DDDDDD;
	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-SHADOW-COLOR: #FFFFFF;
	SCROLLBAR-3DLIGHT-COLOR: #CCCCCC;
	SCROLLBAR-ARROW-COLOR: #A7A800;
	SCROLLBAR-TRACK-COLOR: #EEEEEE;
	SCROLLBAR-DARKSHADOW-COLOR: #CCCCCC;
}
