TABLE.outline2 {
	color : #ffffff;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;

}

DIV.topmain{
	background-color : #FFFAEB;
	background-image : url(../images/background_top.gif);

	background-repeat : repeat-y;

}

Div.topinfo{

	border : 1px none #000000;
	padding : 4 4 4 4;
	font-size : 12;
	font-family : Tahoma;
}
DIV.topmenu{
	background-color : #fff7e5;
	border : 2px groove #DDDDDD;

}

DIV.data {

	color : #000000;
	background-color : #FFFFFF;
	background-image : url(/images/00_logo.gif);
	position : absolute;
	visibility : visible;

}

TD
 {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

.boldText
 {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
}