.clWinHead{
	background-color : transparent;
	color : white;
	font-family : arial,arial,helvetica;
	font-size : 11px;
	font-weight : bold;
  padding-left:5px;
  cursor : default;
}
.clWinToolBar{
  background-color : #CCCCCC;
	color : white;
	font-family : arial,arial,helvetica;
	font-size : 11px;
	font-weight : bold;
	border-top-color : white;
	border-top-width : 1px;
	border-top-style : solid;
	border-left-color : white;
	border-left-width : 1px;
	border-left-style : solid;
  padding:1px;
  padding-top : 1px;
  padding-left : 4px;
	border-right-color : Gray;
	border-right-style : solid;
	border-right-width : 1px;
	border-bottom-color : Gray;
	border-bottom-style : solid;
	border-bottom-width : 1px;
  cursor : default;
}
.clWinGridTypeHeader {
   background-color : #CCCCCC;
   border-bottom-color : #000000;
   border-bottom-style : solid;
   border-bottom-width : 1px;
   border-left-color : #FFFFFF;
   border-left-style : solid;
   border-left-width : 1px;
   border-right-color : #808080;
   border-right-style : solid;
   border-right-width : 1px;
   border-top-color : #FFFFFF;
   border-top-style : solid;
   border-top-width : 1px;
   color : #000066;
   font-family : Verdana, Arial, Helvetica, sans-serif;
   font-size : 10px;
   font-weight : bold;
   text-align : center;
   vertical-align : middle;
   cursor : hand;
}
.clWinGridTypeHeaderStatic {
   background-color : #CCCCCC;
   border-bottom-color : #000000;
   border-bottom-style : solid;
   border-bottom-width : 1px;
   border-left-color : #FFFFFF;
   border-left-style : solid;
   border-left-width : 1px;
   border-right-color : #808080;
   border-right-style : solid;
   border-right-width : 1px;
   border-top-color : #FFFFFF;
   border-top-style : solid;
   border-top-width : 1px;
   color : #000066;
   font-family : Verdana, Arial, Helvetica, sans-serif;
   font-size : 10px;
   font-weight : bold;
   text-align : center;
   vertical-align : middle;
   cursor : default;
}

.clWinGridTypeTable {
   border-left : 0px solid #C0C0C0;
   cursor : hand;
}

.clWinGridTypeTD {
   border-bottom : 0px solid #808080;
   border-left : 0px solid #FFF0F5;
   border-left-color : #FFFFFF;
   border-right-color : #808080;
   border-right-style : solid;
   border-right-width : 0px;
   border-top-color : #FFF0F5;
   border-top-style : solid;
   border-top-width : 0px;
   font-family : Tahoma, Verdana, Arial, Helvetica, sans-serif;
   font-size : 11px;
   cursor : hand;
}
.clWinGridTypeTDStatic {
   border-bottom : 0px solid #808080;
   border-left : 0px solid #FFF0F5;
   border-left-color : #FFFFFF;
   border-right-color : #808080;
   border-right-style : solid;
   border-right-width : 0px;
   border-top-color : #FFF0F5;
   border-top-style : solid;
   border-top-width : 0px;
   font-family : Tahoma, Verdana, Arial, Helvetica, sans-serif;
   font-size : 11px;
   cursor : default;
}
.clScrollTable {
  overflow : auto;
	SCROLLBAR-FACE-COLOR: #DDDDDD;
	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-SHADOW-COLOR: #FFFFFF;
	SCROLLBAR-3DLIGHT-COLOR: #CCCCCC;
	SCROLLBAR-ARROW-COLOR: #A7A800;
	SCROLLBAR-TRACK-COLOR: #EEEEEE;
	SCROLLBAR-DARKSHADOW-COLOR: #CCCCCC;
}
.arrow {
  font-family: webdings;
  color: black;
  padding: 0;
  font-size: 8px;
  overflow: hidden;
}
