.select {
	cursor : default;
	width : 90px;
	padding : 0px;
}

.selected {
	font : 11px Tahoma;
	padding : 0px;
}

.selectTable {
	background : url(../images/input_bkgd.png) repeat;
	border-bottom : 1px solid #CCCCCC;
	border-right : 1px solid #CCCCCC;
	border-left : 1px solid #CCCCCC;
	border-top : 1px solid #CCCCCC;
	height : 100%;
	width : 100%;
	padding : 0px;
}

.option {
	font : 11px Tahoma;
	padding : 0px;
	padding-left : 3px;
	padding-right : 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	width : 100%;
	height : 6px;
	color : #000000;
}

.dropDown {
	background : #FFFFFF;
	border-bottom : 1px solid #808080;
	border-right : 1px solid #808080;
	border-left : 1px solid #D3D3D3;
	position : absolute;
	visibility : hidden;
	display:none;
	width : 100%;
	overflow : auto;
}

.dropDownNO {
	background : #FFFFFF;
	border-bottom : 1px solid #808080;
	border-right : 1px solid #808080;
	border-left : 1px solid #D3D3D3;
	position : absolute;
	visibility : hidden;
	display:none;
	width : 100%;
}
.selButton	{
	border-bottom : 0px solid #808080;
	border-right : 0px solid #808080;
	border-left : 1px solid #D3D3D3;
	border-top : 0px solid #D3D3D3;
	font-family : webdings;
	font-size : 9px;
	width : 10px;
	padding : 0px;
}

.selButtonHover
{
	border-bottom : 0px solid #808080;
	border-right : 0px solid #808080;
	border-left : 1px solid #D3D3D3;
	border-top : 0px solid #D3D3D3;
	
	font-family : webdings;
	font-size : 9px;
	width : 10px;
	padding : 0px;
	background-color : #E2E2E2;
}

.selButtonMouseDown
{
	/*border-bottom : 1px solid #D3D3D3;
	border-right : 1px solid #D3D3D3;
	border-left : 1px solid #808080;
	border-top : 1px solid #808080;
	*/
	font-family : webdings;
	font-size : 9px;
	width : 10px;
	padding : 0px;
	background-color : #ffffff;
}
