.note100
{
    BORDER-RIGHT: peru thin groove;
    PADDING-RIGHT: 5px;
    BORDER-TOP: peru thin groove;
    PADDING-LEFT: 0px;
    FONT-SIZE: small;
    FILTER: glow(color=white,strength=1) shadow(color:#e5f5e5,strength=1);
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: peru thin groove;
    WIDTH: 100%;
    COLOR: #ffffff;
    TEXT-INDENT: 5px;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: peru thin groove;
    FONT-FAMILY: Georgia, Tahoma;
    POSITION: relative;
    HEIGHT: 1px;
    BACKGROUND-COLOR: white;
    postion: relative
}

.note
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: larger;
    FILTER: glow(color=white,strength=1) shadow(color:#e5f5e5,strength=1);
    PADDING-BOTTOM: 2px;
    WIDTH: 100%;
    COLOR: black;
    TEXT-INDENT: 5px;
    PADDING-TOP: 2px;
    FONT-FAMILY: Georgia, Tahoma;
    POSITION: relative;
    HEIGHT: 1px;
    BACKGROUND-COLOR: white;
    postion: relative
}

.smaller
{
    BORDER-RIGHT: indigo 2px groove;
    BORDER-TOP: indigo 2px groove;
    FONT-SIZE: smaller;
    BORDER-LEFT: indigo 2px groove;
    BORDER-BOTTOM: indigo 2px groove;
    TEXT-ALIGN: justify
}

.find
{
    BORDER-RIGHT: darkseagreen groove;
    PADDING-RIGHT: 5px;
    BORDER-TOP: darkseagreen groove;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: bolder;
    FILTER: glow(color=#ffffe0,strength=1) shadow(color:#2f4f4f,strength=1);
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: darkseagreen groove;
    WIDTH: 100%;
    COLOR: indigo;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: darkseagreen groove;
    FONT-FAMILY: Tahoma;
    POSITION: relative;
    HEIGHT: 1%;
    BACKGROUND-COLOR: white;
    postion: relative
}

.banner
{
    BORDER-RIGHT: lemonchiffon;
    PADDING-RIGHT: 5px;
    BORDER-TOP: lemonchiffon;
    FONT-WEIGHT: bolder;
    FONT-SIZE: small;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: lemonchiffon;
    WIDTH: 80%;
    COLOR: black;
    TEXT-INDENT: 5px;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: lemonchiffon;
    FONT-FAMILY: Tahoma;
    POSITION: relative;
    HEIGHT: 1px;
    BACKGROUND-COLOR: transparent;
    TEXT-ALIGN: justify
}

H1
{
    PADDING-LEFT: 2px;
    FONT-SIZE: x-large;
    FILTER: glow(color=#ffffe0,strength=1) shadow(color:#2f4f4f,strength=1);
    LEFT: 0px;
    COLOR: peru;
    FONT-FAMILY: 'Trebuchet MS', Tahoma;
    POSITION: relative;
    TOP: 0px;
    HEIGHT: 35px;
    font-face: Verdana;
    font-color: white
}

H2
{
    PADDING-LEFT: 5px;
    FONT-SIZE: large;
    FILTER: glow(color=#ffffe0,strength=1) shadow(color:#2f4f4f,strength=1);
    LEFT: 5px;
    COLOR: peru;
    FONT-FAMILY: 'Trebuchet MS', Tahoma;
    POSITION: relative;
    TOP: 0px;
    HEIGHT: 30px;
    font-face: Verdana;
    font-color: white
}

H3
{
    PADDING-LEFT: 10px;
    FONT-SIZE: medium;
    FILTER: glow(color=#ffffe0,strength=1) shadow(color:#2f4f4f,strength=1);
    LEFT: 5px;
    COLOR: peru;
    FONT-FAMILY: 'Trebuchet MS', Tahoma;
    POSITION: relative;
    TOP: 0px;
    HEIGHT: 25px;
    font-face: Verdana;
    font-color: white
}

H4
{
    PADDING-LEFT: 5px;
    FONT-SIZE: small;
    FILTER: glow(color=#ffffe0,strength=1) shadow(color:#2f4f4f,strength=1);
    LEFT: 5px;
    COLOR: peru;
    FONT-FAMILY: 'Trebuchet MS', Tahoma;
    POSITION: relative;
    TOP: 0px;
    HEIGHT: 20px;
    font-face: Verdana
}

H5
{
    PADDING-LEFT: 5px;
    FONT-SIZE: x-small;
    FILTER: glow(color=#ffffe0,strength=1) shadow(color:#2f4f4f,strength=1);
    LEFT: 5px;
    COLOR: peru;
    FONT-FAMILY: 'Trebuchet MS', Tahoma;
    POSITION: relative;
    TOP: 0px;
    HEIGHT: 15px;
    font-face: Verdana;
    font-color: white
}

H6
{
    PADDING-LEFT: 5px;
    FONT-SIZE: xx-small;
    LEFT: 5px;
    COLOR: peru;
    FONT-FAMILY: 'Trebuchet MS', Tahoma;
    POSITION: relative;
    TOP: 0px;
    HEIGHT: 10px;
    font-face: Verdana;
    font-color: white
}

DD
{
    PADDING-LEFT: 5px;
    MARGIN: 5px 15px
}

DL
{
    MARGIN-TOP: 5px;
    PADDING-LEFT: 5px;
    MARGIN-BOTTOM: 5px;
    MARGIN-LEFT: 0px
}

TH
{
    BORDER-RIGHT: 1px ridge;
    BORDER-TOP: 1px ridge;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: x-small;
    LEFT: 0px;
    BORDER-LEFT: 1px ridge;
    COLOR: #000000;
    BORDER-BOTTOM: 1px ridge;
    TOP: 0px;
    BACKGROUND-COLOR: #ffebcd;
    TEXT-ALIGN: center;
    font-face: Verdana;
    font-color: white
}

BODY
{
    PADDING-LEFT: 2px;
    FONT-SIZE: x-small;
    MARGIN: 0px;
    TEXT-ALIGN: justify;
    MARGINWIDTH: 0px;
    MARGINHEIGHT: 0px;
    TOPMARGIN: 0px;
    LEFTMARGIN: 0px
}

.fieldback
{
    BORDER-RIGHT: 1px inset;
    PADDING-RIGHT: 1px;
    BORDER-TOP: 1px inset;
    PADDING-LEFT: 1px;
    FONT-SIZE: xx-small;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: 1px inset;
    WIDTH: 1%;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: 1px inset;
    BACKGROUND-REPEAT: repeat;
    FONT-FAMILY: Tahoma;
    POSITION: relative;
    HEIGHT: 1px;
    BACKGROUND-COLOR: whitesmoke;
    postion: relative
}

.fieldbackreq
{
	font-family : Courier;
	font-size : 14px;
}

.fieldlabel
{
	color : #333333;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

P
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 0px;
    FONT-SIZE: x-small;
    FONT-FAMILY: 'Trebuchet MS', Tahoma;
    TEXT-ALIGN: justify
}

TD P
{
    PADDING-RIGHT: 2px;
    FONT-SIZE: x-small;
    FONT-FAMILY: 'Trebuchet MS', Tahoma
}

.formback
{
    BACKGROUND-COLOR: white
}

INPUT
{
	border : 0px;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	background-color : #FFFFFF;
	background : url(../images/input_bkgd.png) repeat;
	border-bottom : 1px solid #CCCCCC;
	border-right : 1px solid #CCCCCC;
	border-left : 1px solid #CCCCCC;
	border-top : 1px solid #CCCCCC;
}

TEXTAREA
{
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	background-color : #FFFFFF;
	background : url(../images/textarea_bkgd.png) repeat;
	border-bottom : 1px solid #CCCCCC;
	border-right : 1px solid #CCCCCC;
	border-left : 1px solid #CCCCCC;
	border-top : 1px solid #CCCCCC;
	overflow : hidden;
}

SELECT
{
    BACKGROUND-POSITION: center top;
    FONT-SIZE: xx-small;
    BACKGROUND-IMAGE: url(../../images/images/input_bkgd.png);
    BACKGROUND-REPEAT: repeat-x;
    HEIGHT: 18px;
    BACKGROUND-COLOR: whitesmoke
}

BUTTON
{
	border : 0px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
	background-color : #FFFFFF;
	background : url(../images/input_bkgd.png) repeat;
	border-bottom : 2px solid #808080;
	border-right : 2px solid #808080;
	border-left : 2px solid #D3D3D3;
	border-top : 2px solid #D3D3D3;
}

INPUT.cbox
{
    BORDER-RIGHT: wheat;
    BORDER-TOP: wheat;
    BORDER-LEFT: wheat;
    BORDER-BOTTOM: wheat;
    BACKGROUND-COLOR: transparent
}

INPUT.checkbox
{
    BORDER-RIGHT: wheat;
    BORDER-TOP: wheat;
    BORDER-LEFT: wheat;
    BORDER-BOTTOM: wheat;
    BACKGROUND-COLOR: transparent
}

INPUT.NextButton
{
    BACKGROUND-POSITION: center center;
    BACKGROUND-IMAGE: url(../images/next.gif);
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-COLOR: gold
}

INPUT.PrevButton
{
    BACKGROUND-POSITION: center center;
    BACKGROUND-IMAGE: url(../images/prev.gif);
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-COLOR: #ffd700
}


.autoflowDiv {
	overflow : auto;
	SCROLLBAR-FACE-COLOR: #DDDDDD;
	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-SHADOW-COLOR: #FFFFFF;
	SCROLLBAR-3DLIGHT-COLOR: #CCCCCC;
	SCROLLBAR-ARROW-COLOR: #A7A800;
	SCROLLBAR-TRACK-COLOR: #EEEEEE;
	SCROLLBAR-DARKSHADOW-COLOR: #CCCCCC;

}

#btnCancel, btnSearchFEIN, #btnSearchName, #btnSearchLocationID, #btnSearchCity, #btnSearchState, #btnaddnew, #Grid1_PageNavbarFirst, #Grid1_PageNavbarPrevious, #Grid1_PageNavbarNext, #Grid1_PageNavbarLast, #btnUpdate, #btnSave, #btnSearchDealerID, #btnClearForm, #btnAdd, #Grid1_RecordNavbarPrevious, #Grid1_RecordNavbarNext, #btnCanel, #btnEditlocationPersonnel, #btnEditBillingInformation, #btnSearch, #btnParentEntity, #btnShopPersonnel, #btnDelete, #btnSaveShop, #btnAddLocation, #btnStdHours, #btnCancelDelete, #btnGoShopID, #btnGoLocationID, #btnParentShop
{
	border : 0px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
	background-color : #FFFFFF;
	background : url(../images/input_bkgd.png) no-repeat;
	border-bottom : 2px solid #808080;
	border-right : 2px solid #808080;
	border-left : 2px solid #D3D3D3;
	border-top : 2px solid #D3D3D3;
}
