.datePicker {
	border:		1px solid WindowText;
	background:	Window;
	width:		170px;
	padding:	0px;
	cursor:		default;
	-moz-user-focus:	normal;
}


.datePicker td {
	font:			smallcaption;
	font:			small-caption;
	text-align:		center;
	color:			WindowText;
	cursor:			default;
	font-weight:	normal !important;
	-moz-user-select:	none;
	padding:		0;
}

.datePicker td.red {
	color:			red;
}

.datePicker .header {
	background:		ActiveCaption;
	padding:		3px;
	border-bottom:	1px solid WindowText;
}

.datePicker .headerTable {
	width:			100%;
}

.datePicker .footer {
	padding: 3px;
}

.datePicker .footerTable {
	width:		100%;
}

.datePicker .grid {
	padding:	3px;
}
.datePicker .gridTable {
	width:	100%;
}

.datePicker .gridTable td {
	width:	14.3%;
}

.datePicker .gridTable .daysRow td {
	font-weight:	bold !important;
	border-bottom:	1px solid ThreeDDarkShadow;
}

.datePicker .grid .gridTable .upperLine {
	width:		100%;
	height:		2px;
	overflow:	hidden;
	background:	transparent;
}

.datePicker td.today {
	font-weight:	bold !important;
}

.datePicker td.selected {
	background:		Highlight;
	color:			HighlightText !important;
}

.datePicker td.labelContainer {
	width:	100%;
}

.datePicker td .topLabel {
	color:			CaptionText;
	display:		block;
	font-weight:	bold !important;
	width:			100%;
	text-decoration:	none;
	
}

.datePicker td.filler {
	width:			100%;
}

.datePicker button {
	border-width:	1px;
	font:			Caption;
	font-weight:	normal !important;
}

.datePicker .previousButton {
	background:	buttonface url("../images/arrow.left.png") no-repeat center center;
}

.datePicker .nextButton {
	background:	buttonface url("../images/arrow.right.png") no-repeat center center;
}
.datePicker .previousButton,
.datePicker .nextButton {
	width:			14px;
	height:			14px;
}

.datePicker .todayButton,
.datePicker .noneButton {
	width:	50px;
}


.datePicker .labelPopup {
	position:	absolute;
	min-width:	130px;
	background:	Window;
	border:		1px solid WindowText;
	padding:	1px;
}

.datePicker .labelPopup a {
	width:				100%;
	display:			block;
	color:				WindowText;
	text-decoration:	none;
	white-space:		nowrap;
}

.datePicker .labelPopup a:hover {
	background:	Highlight;
	color:		HighlightText;
}

.datePicker .labelPopup a.selected {
	font-weight:	bold;
}

