    .thumbNailHTile {
      width:240px;
      height:98%;
      overflow:auto;
      border:1px solid black;
      background-color:#FFFFFF;
    	SCROLLBAR-FACE-COLOR: #DDDDDD;
    	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
    	SCROLLBAR-SHADOW-COLOR: #FFFFFF;
    	SCROLLBAR-3DLIGHT-COLOR: #CCCCCC;
    	SCROLLBAR-ARROW-COLOR: #A7A800;
    	SCROLLBAR-TRACK-COLOR: #EEEEEE;
    	SCROLLBAR-DARKSHADOW-COLOR: #CCCCCC;
    }
    .thumbNailDivHTile {
      width:100%;
    }
    .thumbNail {
      border-left: 1px solid #C0C0C0;
      border-top: 1px solid #C0C0C0;
      border-right: 1px solid #808080;
      border-bottom: 1px solid #808080;
      background-color: #F5F5F5;
      width:100px;
      height:98px;
      margin:5px;
      cursor: hand;
    }
    .thumbNailSelected {
      border-left: 1px solid #C0C0C0;
      border-top: 1px solid #C0C0C0;
      border-right: 1px solid #808080;
      border-bottom: 1px solid #808080;
      background-color: #FFD700;
      width:100px;
      height:98px;
      margin:5px;
      cursor: hand;
    }
    .thumbNailImage {
      width:50px;
      height:50px;
      margin:2px;
      cursor: hand;
      border: 1px solid #DCDCDC;
      background-color: #FFFFFF;
    }
    .thumbNailInfo {
      margin:1px;
      padding:2px;
      width:100%;
      cursor: hand;
      background-color: #FFFFFF;
      border-left: 1px solid #808080;
      border-top: 1px solid #808080;
      border-right: 1px solid #DCDCDC;
      border-bottom: 1px solid #DCDCDC;
      font-family:Tahoma;
      font-size:10px;
      text-align:center;
    }
    
    .viewerHTile {
      height:98%;
      border:1px solid black;
      overflow:hidden;
      margin:0px;
      margin-left:5px;
      background-color:#FFFFFF;
    }
    .viewerDivHTile {
      width:100%;
    }
    .SectionTitle {
      mywidth:100%;
      font-family:Tahoma;
      font-size:10px;
      text-align:center;
      padding:3px;
      background-color:#c0c0c0;
    }
    .thumbNailVTile {
      height:123px;
      overflow-x:auto;
      overflow-y:hidden;
      border:1px solid black;
      background-color:#FFFFFF;
    	SCROLLBAR-FACE-COLOR: #DDDDDD;
    	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
    	SCROLLBAR-SHADOW-COLOR: #FFFFFF;
    	SCROLLBAR-3DLIGHT-COLOR: #CCCCCC;
    	SCROLLBAR-ARROW-COLOR: #A7A800;
    	SCROLLBAR-TRACK-COLOR: #EEEEEE;
    	SCROLLBAR-DARKSHADOW-COLOR: #CCCCCC;
    }
    .thumbNailDivVTile {
      width:100%;
      height:90px;
    }    
    .viewerVTile {
      width:100%;
      border:1px solid black;
      overflow:auto;
      margin:0px;
      margin-bottom:0px;
      background-color:#FFFFFF;
      align:left;
    }
    .viewerDivVTile {
      width:100%;
      height: 100%;
    }
    .toolbarButton {
      width: 18px;
      height: 18px;
      cursor:arrow;
      background-color: #C0C0C0;
      border:0px;
    }
    .toolbarButtonOver {
      width: 18px;
      height: 18px;
      cursor:arrow;
      background-color: #C0C0C0;
      border-top:1px solid #D3D3D3;
      border-left:1px solid #D3D3D3;
      border-bottom:1px solid #696969;
      border-right:1px solid #696969;
    }

    .toolbarButtonOut {
      width: 18px;
      height: 18px;
      cursor:arrow;
      background-color: #C0C0C0;
      border:0px;
    }