
.apdtabs{
	font : Menu;
	font-size : 10pt;
	font-weight : 700 cursor: default;
	height : 22px;
	left : 5px;
	position : absolute;
	top :0px;
	white-space : nowrap;
	width : 600px;
	z-index : 10000;
}

.autoflowDiv {
	overflow : auto;
	SCROLLBAR-FACE-COLOR: #DDDDDD;
	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-SHADOW-COLOR: #FFFFFF;
	SCROLLBAR-3DLIGHT-COLOR: #CCCCCC;
	SCROLLBAR-ARROW-COLOR: #A7A800;
	SCROLLBAR-TRACK-COLOR: #EEEEEE;
	SCROLLBAR-DARKSHADOW-COLOR: #CCCCCC;
}

#content11{
	visibility : visible;
}
.tab1 {
	background-color : #FFFFFF;
	border : 1px solid #333377;
	border-bottom : 1px solid #FFFFFF;
	top : 5px;
	color : #787878;
	padding : 2px 9px 1px 9px;
	position : relative;
	z-index : 100;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 10px;
	margin-left : 2px;
	background-image:	url( "\images\tab.png" ) !important;
	background-repeat: repeat-x;

}
.tabactive1 {
	border : 1px solid #333377;
	border-bottom : 1px solid #FFFFFF;
	padding : 3px 9px 1px 9px;
	position : relative;
	top : 7px;
	z-index : 1000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 10px;
	margin-left : 2px;
	cursor : default;
	background-image:	url( "\images\tab.active.png" ) !important;
	background-repeat: repeat-x;

}
.tabhover1 {
	color : #B56D00;
	border : 1px solid #333377;
	border-bottom : 1px solid #FFFFFF;
	top : 5px;
	padding : 2px 9px 1px 9px;
	position : relative;
	z-index : 1000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 10px;
	margin-left : 2px;
	cursor : hand;
	background-image:	url( "\images\tab.hover.png" ) !important;
	background-repeat: repeat-x;
	
}
.autoflowTable {
	border-bottom-color : Gray;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	overflow : auto;
	scrollbar-face-color : #BBCCDD;
	background-color : #FFFFFF;
	border-left-color : Gray;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : Gray;
	border-right-style : solid;
	border-right-width : 1px;
	SCROLLBAR-FACE-COLOR: #DDDDDD;
	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-SHADOW-COLOR: #FFFFFF;
	SCROLLBAR-3DLIGHT-COLOR: #CCCCCC;
	SCROLLBAR-ARROW-COLOR: #A7A800;
	SCROLLBAR-TRACK-COLOR: #EEEEEE;
	SCROLLBAR-DARKSHADOW-COLOR: #CCCCCC;

}
.bodyAPDSub {
	background : #FFFAEB;
	border : 0px;
	color : #000000;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	SCROLLBAR-FACE-COLOR: #DDDDDD;
	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-SHADOW-COLOR: #FFFFFF;
	SCROLLBAR-3DLIGHT-COLOR: #CCCCCC;
	SCROLLBAR-ARROW-COLOR: #A7A800;
	SCROLLBAR-TRACK-COLOR: #EEEEEE;
	SCROLLBAR-DARKSHADOW-COLOR: #CCCCCC;
}

.bodyAPDSubSub {
	background : #FFFFFF;
	border : 0px;
	color : #000000;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	margin : 0 0 0 0;
	SCROLLBAR-FACE-COLOR: #DDDDDD;
	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-SHADOW-COLOR: #FFFFFF;
	SCROLLBAR-3DLIGHT-COLOR: #CCCCCC;
	SCROLLBAR-ARROW-COLOR: #A7A800;
	SCROLLBAR-TRACK-COLOR: #EEEEEE;
	SCROLLBAR-DARKSHADOW-COLOR: #CCCCCC;
}

.boldText {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
}
.ClaimMiscInputs {
	color : #000000;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
}
.content1{
	border : 1px solid #333377;
	left : 0px;
	margin : 0px 3px;
	padding : 4px 4px 4px 4px;
	position : absolute;
	top : 19px;
	visibility : hidden;
	z-index : 500;
	background-color : #FFFAEB;
	width : 74%;
}
.formbutton {
	border : 0px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
	background-color : #FFFFFF;
	background : url(../images/input_bkgd.png) repeat;
	border-bottom : 2px solid #808080;
	border-right : 2px solid #808080;
	border-left : 2px solid #D3D3D3;
	border-top : 2px solid #D3D3D3;
}
}
.GridTypeTable {
	border-left : 1px solid #C0C0C0;
}
.GridTypeTD {
	border-bottom : 1px solid #808080;
	border-right : 1px solid #808080;
	border-left : 1px solid #FFF0F5;
	border-top : 1px solid #FFF0F5;
	text-align : center;
}
.GridTypeTD2 {
	background-color : white;
	border-bottom : 1px solid #808080;
	border-right : 1px solid #808080;
	border-left : 1px solid #FFF0F5;
	border-top : 1px solid #FFF0F5;
	text-align : center;
}
.GridSpacerTD {
	border-right : 1px solid #808080;
	text-align : center;
}
.inputFld{
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
  background: #FFFFFF;
}
.labelColumn{
	color : #000066;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;	
}
.QueueHeader {
	border-bottom-width : 1px;
	border-color : #000000 #000000 #333333;
	border-left-width : 0px;
	border-right-width : 0px;
	border-style : solid;
	border-top-width : 0px;
	background-color : #CCCCCC;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	text-align : center;
	vertical-align : middle;
}
.searchBtn{
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
  font-weight: bold;
  background: #FFFFFF;
}
.ShopAssignTableSrh {
	background-color : #E3E3E3;
	border-bottom-color : #999999;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #EFEFEF;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #EFEFEF;
	border-top-style : solid;
	border-top-width : 1px;
	color : #000066;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
}
.tdHeaderCenter {
	background-color : #E3E3E3;
	border-bottom-color : #999999;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-top-color : #EFEFEF;
	border-top-style : solid;
	border-top-width : 1px;
	color : #000066;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
}
.tdHeaderLeft{
	background-color : #E3E3E3;
	border-bottom-color : #999999;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #EFEFEF;
	border-left-style : solid;
	border-left-width : 1px;
	border-top-color : #EFEFEF;
	border-top-style : solid;
	border-top-width : 1px;
	color : #000066;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
}
.tdHeaderRight{
	background-color : #E3E3E3;
	border-bottom-color : #999999;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #EFEFEF;
	border-top-style : solid;
	border-top-width : 1px;
	color : #000066;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
}

.tdHeaderBlue{
  border-bottom : .02cm solid darkblue; 
  border-top: .05cm solid darkblue; 
  font-size:10; 
  font-weight:bold; 
  color:darkblue;
}

.tdHeaderBlueTop{
  border-top: .02cm solid darkblue; 
  font-size:10; 
  font-weight:bold; 
  color:darkblue;
}

.smallGrouping {
	background-color : #FFFFFF;
	border : 1px solid #333377;
	padding : 6px 6px 6px 6px;
}
.smallGroupingTab {
	background-color : #FFFFFF;
	border : 1px solid #333377;
	border-bottom : 0px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
	padding : 3px 9px 1px 9px;
	background-image:	url( "\images\notab.active.png" ) !important;
	background-repeat: repeat-x;
}
.smallText {
	background-color : #FFFFFF;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
}
.TableHeader2 {
	background-color : #E3E3E3;
	color : #000066;
	text-align : center;
}
.TableSortHeader {
	background-color : #CCCCCC;
	border-bottom-color : #000000;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-left-color : #FFFFFF;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #999999;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #FFFFFF;
	border-top-style : solid;
	border-top-width : 1px;
	color : #000066;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
	text-align : center;
	vertical-align : middle;
	cursor : hand;
}
tbody .arrow{
	color : navy;
	font-family : webdings;
	font-size : 10px;
   overflow : hidden;
   /*height : 11px;
	margin-bottom : 2;
	margin-top : -3;
	padding : 0;
	padding : 0;
	padding-bottom : 2;
	padding-top : 0;
   width : 10px;*/
}
A{
  color:black; text-decoration:none;
}
SELECT {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
}
TABLE {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
}
TD {
	color : #333333;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
}
TEXTAREA {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	background-color : #FFFFFF;
	background : url(../images/textarea_bkgd.png) repeat;
	border-bottom : 1px solid #CCCCCC;
	border-right : 1px solid #CCCCCC;
	border-left : 1px solid #CCCCCC;
	border-top : 1px solid #CCCCCC;
	overflow : hidden;
}
TH {
	color : #000066;
}
.toolbarButton {
 	width: 15px;
    height: 15px;
    cursor:arrow;
    background-color: transparent;
    border:0px;
}
.toolbarButtonOver {
    width: 15px;
    height: 15px;
    cursor:arrow;
    background-color: transparent;
    border-top:1px solid #D3D3D3;
    border-left:1px solid #D3D3D3;
    border-bottom:1px solid #696969;
    border-right:1px solid #696969;
}

.NoWrap {
  font: 11px Tahoma, Arial, Verdana;
  color: #000000;
  width:100%;
  vertical-align:middle;
  background-color:transparent;
  cursor: hand;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}