.content1{
	border : 1px solid #333377;
	left : 0px;
	margin : 0px 3px;
	padding : 4px 4px 4px 4px;
	position : absolute;
	top : 19px;
	visibility : hidden;
	z-index : 500;
	background-color : #FFFAEB;
	width : 74%;
}

.content2{
	border : 1px solid #333377;
	left : 0px;
	margin : 0px 3px;
	padding : 4px 4px 4px 4px;
	position : absolute;
	top : 19px;
	visibility : hidden;
	z-index : 500;
	background-color : #FFFAEB;
	width : 74%;
}

.content3{
	border : 1px solid #333377;
	left : 0px;
	margin : 0px 3px;
	padding : 4px 4px 4px 4px;
	position : absolute;
	top : 19px;
	visibility : hidden;
	z-index : 500;
	background-color : #FFFAEB;
	width : 74%;
}

.tab1 {
	background-color : #FFFFFF;
	border : 1px solid #333377;
	border-bottom : 0;
	top : 5px;
	color : #787878;
	padding : 2px 9px 1px 9px;
	position : relative;
	z-index : 100;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 10px;
	margin-left : 2px;
	background-image:	url( "\images\tab.png" ) !important;
	background-repeat: repeat-x;

}

.tab2 {
	background-color : #FFFFFF;
	border : 1px solid #333377;
	border-bottom : 0;
	top : 5px;
	color : #787878;
	padding : 2px 9px 1px 9px;
	position : relative;
	z-index : 100;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 10px;
	margin-left : 2px;
	background-image:	url( "\images\tab.png" ) !important;
	background-repeat: repeat-x;

}

.tab3 {
	background-color : #FFFFFF;
	border : 1px solid #333377;
	border-bottom : 0;
	top : 5px;
	color : #787878;
	padding : 2px 9px 1px 9px;
	position : relative;
	z-index : 100;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 10px;
	margin-left : 2px;
	background-image:	url( "\images\tab.png" ) !important;
	background-repeat: repeat-x;

}

.tabactive1 {
	border : 1px solid #333377;
	border-bottom : 0;
	padding : 3px 9px 1px 9px;
	position : relative;
	top : 7px;
	z-index : 1000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 10px;
	margin-left : 2px;
	cursor : default;
	background-image:	url( "\images\tab.active.png" ) !important;
	background-repeat: repeat-x;

}

.tabactive2 {
	border : 1px solid #333377;
	border-bottom : 0;
	padding : 3px 9px 1px 9px;
	position : relative;
	top : 7px;
	z-index : 1000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 10px;
	margin-left : 2px;
	cursor : default;
	background-image:	url( "\images\tab.active.png" ) !important;
	background-repeat: repeat-x;

}

.tabactive3 {
	border : 1px solid #333377;
	border-bottom : 0;
	padding : 3px 9px 1px 9px;
	position : relative;
	top : 7px;
	z-index : 1000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 10px;
	margin-left : 2px;
	cursor : default;
	background-image:	url( "\images\tab.active.png" ) !important;
	background-repeat: repeat-x;

}

.tabhover1 {
	color : #B56D00;
	border : 1px solid #333377;
	border-bottom : 0;
	top : 5px;
	padding : 2px 9px 1px 9px;
	position : relative;
	z-index : 1000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 10px;
	margin-left : 2px;
	cursor : hand;
	background-image:	url( "\images\tab.hover.png" ) !important;
	background-repeat: repeat-x;
	
}

.tabhover2 {
	color : #B56D00;
	border : 1px solid #333377;
	border-bottom : 0;
	top : 5px;
	padding : 2px 9px 1px 9px;
	position : relative;
	z-index : 1000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 10px;
	margin-left : 2px;
	cursor : hand;
	background-image:	url( "\images\tab.hover.png" ) !important;
	background-repeat: repeat-x;

}

.tabhover3 {
	color : #B56D00;
	border : 1px solid #333377;
	border-bottom : 0;
	top : 5px;
	padding : 2px 9px 1px 9px;
	position : relative;
	z-index : 1000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 10px;
	margin-left : 2px;
	cursor : hand;
	background-image:	url( "\images\tab.hover.png" ) !important;
	background-repeat: repeat-x;

}

.apdtabs{
	font : Menu;
	font-size : 10pt;
	font-weight : 700 cursor: default;
	height : 22px;
	left : 5px;
	position : absolute;
	top :0px;
	white-space : nowrap;
	width : 600px;
	z-index : 10000;
}

#content11{
	visibility : visible;
}

#content21{
	visibility : hidden;
}
#content31{
	visibility : hidden;
}