﻿body {margin:0px;padding:0px;font-family:Arial, Helvetica;}
img {border:0px;}
hr {border: 1px solid #C0C0C0;padding:0px;margin:0px}
.bold {font-size:11pt;font-weight:bold}
.pageheader {font-size:24px;font-weight:bold;font-family:Arial,Helvetica}
.popup {height:400px;width:860px;}
.hidden {display:none}
.visible {display:inline}
.title {font-size:10pt;font-weight:bold;padding:0 0 5 0;}
#divSettlement label {float:left;font-weight:bold;width:150px;padding:3px;vertical-align:bottom}
#divSettlement div {width:300px;padding:3px}
