﻿body {margin:10px;padding:0px;font-family:Arial, Helvetica;}
img {border:0px;}
hr {border: 1px solid #C0C0C0;padding:0px;margin:0px}
.bold {font-size:11pt;font-weight:bold}
.pageheader {font-size:24px;font-weight:bold;font-family:Arial,Helvetica}
.popup {height:400px;width:860px;}
.hidden {display:none}
.visible {display:inline}
.LynxRep, .InsCoName, .VOName, .VONameConfirm, .VOVehicleConfirm, .LHInfoConfirm, .LHPayoffAmountConfirm, .LastContactDate, .VOSettlementAmountConfirm, .AdvanceAmountConfirm {color: #990099;}
.progress {padding:25px;height:40px;width:200px;text-align:center}
.summaryData {width:100px}
.text {font-size:10pt;line-height:150%;}
#divActions {position:absolute;top:55px;left:798px;width:125px}
#divSummary {position:absolute;top:55px;left:10px;font-family:Arial, Helvetica;font-size:12px}
#divTaskDetails {width:600px;}
#divTaskName {width:530px;font-size:14pt;font-weight:bold}
#divTaskID {padding:5 0 0 0;font-size:9pt;font-weight:bold;color:#C0C0C0;}
#divTaskFor {width:100%;float:left;}
#divScript {height:350px;font-size:10pt;line-height:150%;height:400px;overflow:auto;}
#simplemodal-container a.modalCloseImg {
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-18px;
	cursor:pointer;
}
#simplemodal-overlay {background-color:#000;}
#simplemodal-container {background-color:#fff; border:8px solid #444; padding:12px;}
