.clWin{
	background-color : blue;
	border : 1px #eeeeee solid;
	overflow : hidden;
	position : absolute;
	visibility : hidden;
	z-index : 2;
   cursor : default;
}

.clWindow{
   background-color : #6666ff;
	overflow : hidden;
	position : absolute;
	width : 200;
    z-index : 15;
	border-top-color : Black;
	border-top-style : solid;
	border-top-width : 1px;
	border-left-color : Black;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : Silver;
	border-right-style : solid;
	border-right-width : 1px;
	border-bottom-color : Silver;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	SCROLLBAR-FACE-COLOR: #DDDDDD;
	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-SHADOW-COLOR: #FFFFFF;
	SCROLLBAR-3DLIGHT-COLOR: #CCCCCC;
	SCROLLBAR-ARROW-COLOR: #A7A800;
	SCROLLBAR-TRACK-COLOR: #EEEEEE;
	SCROLLBAR-DARKSHADOW-COLOR: #CCCCCC;
   cursor : default;
}

.clWinHead{
	background-color : transparent;
	color : white;
	font-family : arial,arial,helvetica;
	font-size : 11px;
	font-weight : bold;
	position : absolute;
	top : 0;
	width : 200;
   cursor : default;
}

.clWinToolBar{
   background-color : #CCCCCC;
	color : white;
	font-family : arial,arial,helvetica;
	font-size : 11px;
	font-weight : bold;
	left : 2;
	position : absolute;
   top : 17;
	width : 200;
	z-index : 31;
	border-top-color : white;
	border-top-width : 1px;
	border-top-style : solid;
	border-left-color : white;
	border-left-width : 1px;
	border-left-style : solid;
   padding-top : 1px;
   padding-left : 4px;
	border-right-color : Gray;
	border-right-style : solid;
	border-right-width : 1px;
	border-bottom-color : Gray;
	border-bottom-style : solid;
	border-bottom-width : 1px;
   cursor : default;
}

.clText{
	background-color : transparent;
	font-family : arial,helvetica;
	font-size : 11px;
	position : absolute;
	z-index : 50;
   cursor : default;
}

.clWinResize{
	background-image : url(../images/resize.gif);
	clip : rect(0,30,30,0);
	height : 30;
	position : absolute;
	width : 30;
	z-index : 30;
   cursor : default;
}

.clLogo{
	position : absolute;
   cursor : default;
}

.clUp{
	height : 12;
	position : absolute;
	width : 12;
	z-index : 60;
   cursor : default;
}

.clDown{
	height : 12;
	position : absolute;
	width : 12;
	z-index : 60;
   cursor : default;
}

.clWinButtons{
	font-family : arial,helvetica;
	font-size : 12px;
	position : absolute;
   cursor : hand;
}

.clWinGridTypeHeader {
   background-color : #CCCCCC;
   border-bottom-color : #000000;
   border-bottom-style : solid;
   border-bottom-width : 1px;
   border-left-color : #FFFFFF;
   border-left-style : solid;
   border-left-width : 1px;
   border-right-color : #808080;
   border-right-style : solid;
   border-right-width : 1px;
   border-top-color : #FFFFFF;
   border-top-style : solid;
   border-top-width : 1px;
   color : #000066;
   font-family : Verdana, Arial, Helvetica, sans-serif;
   font-size : 10px;
   font-weight : bold;
   text-align : center;
   vertical-align : middle;
   cursor : hand;
}

.clWinGridTypeTable {
   border-left : 0px solid #C0C0C0;
   cursor : hand;
}

.clWinGridTypeTD {
   border-bottom : 0px solid #808080;
   border-left : 0px solid #FFF0F5;
   border-left-color : #FFFFFF;
   border-right-color : #808080;
   border-right-style : solid;
   border-right-width : 0px;
   border-top-color : #FFF0F5;
   border-top-style : solid;
   border-top-width : 0px;
   cursor : hand;
}

