.wizard
{
	background : #FFFAEB
	width : 100%;
	height : 100%;
	border :  none;
}

.wiz1
{
	visibility : hidden;
	display : none;
}

.wizheader
{
	color : Navy;
	width : 100%;
	height : 24px;
	background-color : Silver;
	text-align : center;
	border : 2px groove White;
	margin-bottom : 4px;

	padding-top : 3px;
	font-weight : bold;
	font-size : 14px;
	font-family : "Trebuchet MS";
}

.wizfooter
{
	color : Navy;
	width :100%;
	height : 36px;
	background-color : Silver;
	border : 2px groove White;
	margin-top : 4px;
	padding-top : 4px;
}

.wizframes
{

border:2px groove Sliver;

}

.wizIframe
{
	 visibility:inherit;
	 position:absolute; 
	 background:transparent;
	 overflow:hidden;
}

.wizIfrPage
{
	visibility:hidden;
	display:none;
	width : 100%
	height : 100%
	 overflow:hidden;
 	background : transparent;	 
}

.wizfooterlabel
{
	font-weight : bold;
	color : Navy;
	font-size : 12px;
	font-family : "Trebuchet MS";
}