﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="ClaimHistory.aspx.vb" Inherits="APDNet.ClaimHistory" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Claim History</title>
</head>
<body>
    <form id="frmClaimHistory" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
