body.menucontainer {
	background: #F9F8F7;
	border: 1px solid #666666;
	border: 1px solid #666666;
	margin: 0;
}

body.menucontainer table.menu {
	border: 1px solid #F9F8F7;
	border-left: 1px solid #DBD8D1;
}

table.menu {
	background: url("/css/officexp/background.gif") #F9F8F7 repeat-y;
	border: 2px solid #666666; /* should be 2px, override in rule above */
	font-family: verdana;
	font-size: 11px;
	position: absolute;
	visibility: hidden;
}


table.menu table.menu {
	border-width: 2px;
	display: none;
	visibility: hidden;
}

table.menu td.keyshortcut {
	font-family: verdana;
	font-size: 11px;
}

table.menu tr td.icon img {
	filter: alpha(opacity=70);
	margin: 2px;
}

/* Highlighted cell formattings */
table.menu tr td.icon,
table.menu tr td.left {
	border: 0;
	padding-bottom: 1px;
	padding-top: 1px;
	text-align: center;
	width: 28px !important;
}

table.menu tr td.middle {
	border: 0;
	padding: 7px;
	padding-bottom: 1px;
	padding-top: 1px;
}

table.menu tr td.more,
table.menu tr td.right {
	border: 0;
	font-family: webdings;
	padding-bottom: 1px;
	padding-top: 1px;
	text-align: right;
	width: 28px;
}

table.menu tr.disabled div {
	background: #DBD8D1;
	border: 0 !important;
	height: 1px !important;
	margin: 0;
	margin-left: 31px;
	margin-right: 0px;
}

table.menu tr.disabled td {
	color: #DBD8D1;
}

table.menu tr.disabled td.icon,
table.menu tr.disabled td.left {
}

table.menu tr.highlight td.icon img {
	filter: progid:DXImageTransform.Microsoft.DropShadow(color="#888888", OffX=2, OffY=2);
	margin-bottom: 2px;
	margin-left: 0px;
	margin-right: 2px;
	margin-top: 1px;
}

table.menu tr.highlight td.icon,
table.menu tr.highlight td.left {
	background: #B6BDD2;
	border: 1px solid #0A246A;
	border-right: 0;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 0px;
}

table.menu tr.highlight td.middle {
	background: #B6BDD2;
	border: 0;
	border-bottom: 1px solid #0A246A;
	border-top: 1px solid #0A246A;
	padding-bottom: 0px;
	padding-top: 0px;
}

table.menu tr.highlight td.more,
table.menu tr.highlight td.right {
	background: #B6BDD2;
	border: 1px solid #0A246A;
	border-left: 0px;
	padding-bottom: 0px;
	padding-right: 1px;
	padding-top: 0px;
}

/* Cell formattings*/
.menu td {
	color: #000000;
	padding: 2px;
}

.menu tr {
}

.menucontainer .menu {
	visibility: visible;
}

.menucontainer .menu .menu {
	display: block;
	visibility: hidden;
}

.root {
	background: #EFEDDE;
	border: 1px solid #EFEDDE;
	color: #000000;
	cursor: default;
	font-family: verdana;
	font-size: 12px;
	margin: 0px;
	padding: 2px;
	text-align: center;
	width: 20px;
}

.root tr td.middle {
	filter: progid:DXImageTransform.Microsoft.dropShadow( Color=efedde,offX=1,offY=1,positive=true);
}

.rootactive {
	background: #DBD8D1;
	border-bottom: 1px solid #DBD8D1;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
	border-top: 1px solid #666666;
	cursor: default;
	font-family: verdana;
	font-size: 12px;
	margin: 0px 1px 0px 0px;
	padding: 2px;
	text-align: center;
	width: 20px;
}

.roothighlight {
	background: #B6BDD2;
	border-color: #0A246A;
	border-style: solid;
	border-width: 1px;
	cursor: default;
	font-family: verdana;
	font-size: 12px;
	padding: 2px;
	padding-bottom: 1px;
	text-align: center;
	width: 20px;
}

.roothighlight .menu, .root .menu, .rootactive .menu {
	visibility: hidden;
}

.roothighlight tr td.middle {
	filter: progid:DXImageTransform.Microsoft.dropShadow( Color=bbbbbb,offX=1,offY=1,positive=true);
}

#menubar {
	background: #EFEDDE;
}
