.header { 
         font-weight:bold; 
         font-size:12pt; 
         margin:5px 0px 8px 8px; 
         color:#000000; 
         font-family:Arial, "sans serif\000d\000a";  }
LI.kadov-Cheader { 
                  font-weight:bold; 
                  font-size:12pt; 
                  color:#000000; 
                  font-family:Arial, "sans serif\000d\000a";  }
.headerRed { 
            font-weight:bold; 
            font-size:14pt; 
            margin:0px 8px 4px; 
            color:#ff0000; 
            font-family:Arial, "sans serif\000d\000a";  }
LI.kadov-CheaderRed { 
                     font-weight:bold; 
                     font-size:14pt; 
                     color:#ff0000; 
                     font-family:Arial, "sans serif\000d\000a";  }
.headerRedData { 
                font-weight:bold; 
                font-size:10pt; 
                margin:2px 8px; 
                color:#ff0000; 
                font-family:Arial, "sans serif\000d\000a";  }
LI.kadov-CheaderRedData { 
                         font-weight:bold; 
                         font-size:10pt; 
                         color:#ff0000; 
                         font-family:Arial, "sans serif\000d\000a";  }
.body { 
       font-size:10pt; 
       margin:2px 5px 2px 8px; 
       color:#000000; 
       line-height:10pt; 
       font-family:Arial, "sans serif";  }
LI.kadov-Cbody { 
                font-size:10pt; 
                color:#000000; 
                line-height:10pt; 
                font-family:Arial, "sans serif";  }
.bodyBlue { 
           font-weight:bold; 
           font-size:10pt; 
           margin:5px 15px 5px 8px; 
           color:#000099; 
           line-height:10pt; 
           font-family:Arial, "sans serif\000d\000a";  }
LI.kadov-CbodyBlue { 
                    font-weight:bold; 
                    font-size:10pt; 
                    color:#000099; 
                    line-height:10pt; 
                    font-family:Arial, "sans serif\000d\000a";  }
.bodyLeaded { 
             margin-top:10px; 
             font-weight:bold; 
             font-size:10pt; 
             margin-left:8px; 
             color:#000000; 
             line-height:12pt; 
             margin-right:5px; 
             font-family:Arial, "sans serif\000d\000a";  }
LI.kadov-CbodyLeaded { 
                      font-weight:bold; 
                      font-size:10pt; 
                      color:#000000; 
                      line-height:12pt; 
                      font-family:Arial, "sans serif\000d\000a";  }
.resultCaption { 
                margin-top:0px; 
                font-weight:bold; 
                font-size:10pt; 
                margin-left:8px; 
                color:#000099; 
                line-height:12pt; 
                margin-right:5px; 
                font-family:Arial, "sans serif\000d\000a";  }
LI.kadov-CresultCaption { 
                         font-weight:bold; 
                         font-size:10pt; 
                         color:#000099; 
                         line-height:12pt; 
                         font-family:Arial, "sans serif\000d\000a";  }
.resultData { 
             margin-top:0px; 
             font-size:10pt; 
             color:#000000; 
             line-height:12pt; 
             margin-right:5px; 
             font-family:Arial, "sans serif\000d\000a";  }
LI.kadov-CresultData { 
                      font-size:10pt; 
                      color:#000000; 
                      line-height:12pt; 
                      font-family:Arial, "sans serif\000d\000a";  }
.formCaption { 
              font-weight:bold; 
              font-size:11pt; 
              margin:5px 15px 5px 8px; 
              color:#000000; 
              line-height:12pt; 
              font-family:Arial, "sans serif\000d\000a";  }
LI.kadov-CformCaption { 
                       font-weight:bold; 
                       font-size:11pt; 
                       color:#000000; 
                       line-height:12pt; 
                       font-family:Arial, "sans serif\000d\000a";  }
.leftNav { 
          font-weight:bold; 
          font-size:8pt; 
          margin:0px 5px 6px 10px; 
          color:#ffffff; 
          line-height:10pt; 
          font-family:Arial, "sans serif\000d\000a";  }
LI.kadov-CleftNav { 
                   font-weight:bold; 
                   font-size:8pt; 
                   color:#ffffff; 
                   line-height:10pt; 
                   font-family:Arial, "sans serif\000d\000a";  }
.subNav { 
         font-weight:bold; 
         font-size:8pt; 
         margin:6px 3px 3px 0px; 
         color:#000099; 
         line-height:8pt; 
         font-family:Arial, "sans serif\000d\000a";  }
LI.kadov-CsubNav { 
                  font-weight:bold; 
                  font-size:8pt; 
                  color:#000099; 
                  line-height:8pt; 
                  font-family:Arial, "sans serif\000d\000a";  }
.mini { 
       font-size:8pt; 
       margin:0px 0px 3px 8px; 
       color:#000000; 
       line-height:8pt; 
       font-family:Arial, "sans serif\000d\000a";  }
LI.kadov-Cmini { 
                font-size:8pt; 
                color:#000000; 
                line-height:8pt; 
                font-family:Arial, "sans serif\000d\000a";  }
.cell { 
       padding-right:0px; 
       padding-left:0px; 
       padding-bottom:0px; 
       padding-top:0px; 
       border-bottom:1px solid;  }
LI.kadov-Ccell {  }
A:link { 
        color:#000000; 
        x-text-underline:normal; 
        text-decoration:underline;  }
A:visited { 
           color:#333333; 
           x-text-underline:normal; 
           text-decoration:underline;  }
A:hover { 
         color:#000000; 
         x-text-underline:normal; 
         text-decoration:underline;  }
A:active { 
          color:#000000; 
          x-text-underline:normal; 
          text-decoration:underline;  }
A.leftNav:link { 
                color:#ffffff; 
                x-text-underline:off; 
                x-text-overline:off; 
                x-text-line-through:off; 
                text-decoration:none none none;  }
A.leftNav:visited { 
                   color:#ffffff; 
                   x-text-underline:off; 
                   x-text-overline:off; 
                   x-text-line-through:off; 
                   text-decoration:none none none;  }
A.leftNav:hover { 
                 color:#ff0000; 
                 x-text-underline:off; 
                 x-text-overline:off; 
                 x-text-line-through:off; 
                 text-decoration:none none none;  }
A.leftNav:active { 
                  color:#ffffff; 
                  x-text-underline:off; 
                  x-text-overline:off; 
                  x-text-line-through:off; 
                  text-decoration:none none none;  }
A.mini:link { 
             color:#ff0000; 
             x-text-underline:normal; 
             text-decoration:underline;  }
A.mini:visited { 
                color:#ff0000; 
                x-text-underline:normal; 
                text-decoration:underline;  }
A.mini:hover { 
              color:#000000; 
              x-text-underline:normal; 
              text-decoration:underline;  }
A.mini:active { 
               color:#00ff00; 
               x-text-underline:normal; 
               text-decoration:underline;  }
A.subNav:link { 
               color:#000099; 
               x-text-underline:off; 
               x-text-overline:off; 
               x-text-line-through:off; 
               text-decoration:none none none;  }
A.subNav:visited { 
                  color:#000099; 
                  x-text-underline:off; 
                  x-text-overline:off; 
                  x-text-line-through:off; 
                  text-decoration:none none none;  }
A.subNav:hover { 
                color:#990000; 
                x-text-underline:normal; 
                text-decoration:underline;  }
A.subNav:active { 
                 color:#006699; 
                 x-text-underline:off; 
                 x-text-overline:off; 
                 x-text-line-through:off; 
                 text-decoration:none none none;  }
.loggedInAs { 
             font-size:8pt; 
             color:#808080; 
             font-family:Arial\000d\000a;  }
LI.kadov-CloggedInAs { 
                      font-size:8pt; 
                      color:#808080; 
                      font-family:Arial\000d\000a;  }
.loggedInName { 
               font-weight:bold; 
               font-size:8pt; 
               color:#000000; 
               font-family:Arial\000d\000a;  }
LI.kadov-CloggedInName { 
                        font-weight:bold; 
                        font-size:8pt; 
                        color:#000000; 
                        font-family:Arial\000d\000a;  }
.errorMessage { 
               font-weight:600; 
               font-size:8pt; 
               color:#ff3300; 
               font-family:Arial\000d\000a;  }
LI.kadov-CerrorMessage { 
                        font-weight:600; 
                        font-size:8pt; 
                        color:#ff3300; 
                        font-family:Arial\000d\000a;  }
.modalheader { 
              font-weight:bold; 
              font-size:12pt; 
              color:#000000; 
              font-family:Arial\000d\000a;  }
LI.kadov-Cmodalheader { 
                       font-weight:bold; 
                       font-size:12pt; 
                       color:#000000; 
                       font-family:Arial\000d\000a;  }
BODY { 
      font-family:Arial\000d\000a;  }
TD.indentedTD { 
               padding-left:17px;  }
.tinyBreak { 
            font-size:2pt;  }
LI.kadov-CtinyBreak { 
                     font-size:2pt;  }
.login { 
        font-size:10pt; 
        color:#27377f; 
        font-family:Verdana, "Arial\000d\000a";  }
LI.kadov-Clogin { 
                 font-size:10pt; 
                 color:#27377f; 
                 font-family:Verdana, "Arial\000d\000a";  }
P.login { 
         font-size:10pt; 
         color:#27377f; 
         font-family:Verdana, "Arial\000d\000a";  }
LI.kadov-P-Clogin { 
                   font-size:10pt; 
                   color:#27377f; 
                   font-family:Verdana, "Arial\000d\000a";  }
.noLink { 
         color:#c0c0c0; 
         font-weight:bold; 
         font-size:11px;  }
LI.kadov-CnoLink { 
                  color:#c0c0c0; 
                  font-weight:bold; 
                  font-size:11px;  }
.tabSel { 
         border:1px solid #000099; 
         border-bottom:0; 
         color:#000099; 
         padding:4px 8px 6px 8px; 
         z-index:2; 
         font-family:Verdana, Geneva, Arial, Helvetica, sans-serif; 
         font-weight:bold; 
         font-size:12px; 
         background-color:#ffffff; 
         cursor:default; 
         position:relative;  }
LI.kadov-CtabSel { 
                  color:#000099; 
                  font-family:Verdana, Geneva, Arial, Helvetica, sans-serif; 
                  font-weight:bold; 
                  font-size:12px;  }
.tabDesel { 
           border:1px solid #000099; 
           color:#000099; 
           padding:2px 8px 5px 8px; 
           z-index:1; 
           font-family:Verdana, Geneva, Arial, Helvetica, sans-serif; 
           font-weight:bold; 
           font-size:12px; 
           background-color:#E7E7F7; 
           cursor:hand; 
           position:relative;  }
LI.kadov-CtabDesel { 
                    color:#000099; 
                    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif; 
                    font-weight:bold; 
                    font-size:12px;  }
P.Bullets { 
           margin-top:1pt; 
           margin-bottom:1pt;  }
LI.kadov-P-CBullets {  }
p.errorMessage { 
                margin-left:40px;  }
LI.kadov-p-CerrorMessage {  }
P { 
   font-size:10pt; 
   font-family:Arial, sans-serif;  }

li { 
   font-size:10pt; 
   font-family:Arial, sans-serif;  }

LI.kadov-P { 
            font-size:10pt; 
            font-family:Arial, sans-serif;  }
H1 { 
    font-size:18pt; 
    font-family:Arial, sans-serif; 
    font-weight:bold;  }
LI.kadov-H1 { 
             font-size:18pt; 
             font-family:Arial, sans-serif;  }
