﻿table {
            border-collapse: collapse;
            width: 100%;
            margin-top:10px;            
        }

        .datatable
        {
            /*border: 1px solid #eeeeee;*/

        }

        #div_InvoiceList {
            height: 250px;
            overflow: auto;
            border: 1px solid #eeeeee;

        }

        #tb_InvoiceList
        {
            text-align:center;
            font-size:12px;
        }

        #tb_InvoiceList th {
            text-align:center;
            position: -webkit-sticky;
            position: sticky;
            border:1px solid #eeeeee;
            top: 0;
        }

        #tb_InvoiceList td{
            padding:5px;
            border:1px solid #eeeeee;

        }

        input[type=text],textarea{
            /*color:#888;*/
            border: 1px solid #eeeeee;
        }

        #tb_InvoiceDetails,#tb_Add_Payment{            
            font-size:12px;
            border: 1px solid #eeeeee;
        }

        /*#tb_InvoiceDetails td{
            text-align:center;
        }*/

        #tb_InvoiceDetails td,#tb_Add_Payment td{
            text-align:left;
            padding:5px;
        }