body.menucontainer	{
	background : #FFFFFF;
	border : 0px solid #000000;
	margin : 0;
}

table.menu	{
	background : #D9D9D9;
	border : #515151 1px solid;
	font-family : verdana;
	font-size : 11px;
	position : absolute;
	visibility : hidden;
}

table.menu table.menu {
	display : none;
	visibility : hidden;
}

/* Cell formattings*/
table.menu td.keyshortcut	{
	font-family : tahoma;
	font-size : 12px;
	font-weight : bold;
}

table.menu tr td.icon img			{
	filter : gray();
}

/* Highlighted cell formattings */
table.menu tr td.icon,
table.menu tr td.left				{
	padding : 1px;
	padding-left : 10px;
	text-align : center;
}

table.menu tr td.middle				{
	font-family : tahoma;
	font-size : 11px;
	padding : 1px;
	padding-left : 3px;
	padding-right : 3px;
}

table.menu tr td.more,
table.menu tr td.right				{
	font-family : webdings;
	padding : 1px;
	text-align : right;
	width : 20px;
}

table.menu tr.disabled		{
	color : #757575;
}

table.menu tr.disabled td.icon img	{
	filter : alpha(opacity=50);
}

table.menu tr.highlight td.icon img	{
	filter : default;
}

table.menu tr.highlight	td.icon,
table.menu tr.highlight	td.left		{
	background : url("leftHighlight.gif") repeat-x center left;
}

table.menu tr.highlight	td.middle	{
	background : url('middle.gif') repeat-x center left;
}

table.menu tr.highlight	td.more,
table.menu tr.highlight	td.right	{
	background : url('right.gif') repeat-x center right;
}

.menu tr	{
}

.menucontainer .menu		{
	visibility : visible;
}

.menucontainer .menu .menu	{
	display : block;
	visibility : hidden;
}

.root			{
	cursor : default;
}

.root .left				{
	background : url('left.gif');
	width : 7px;
}

.root .menu				{
	visibility : hidden;
}

.root .middle			{
	background : url('middle.gif');
	font-family : tahoma;
	font-size : 11px;
	height : 19px;
	padding : 1px;
	text-align : center;
}

.root .right			{
	background : url('right.gif') no-repeat center right;
	width : 7px;
}

.rootactive		{
	cursor : default;
}

.rootactive .left		{
	background : url('leftActive.gif');
	width : 7px;
}

.rootactive .menu		{
	visibility : hidden;
}

.rootactive .middle		{
	background : url('middleActive.gif');
	font-family : tahoma;
	font-size : 11px;
	height : 19px;
	padding-bottom : 0;
	padding-left : 2px;
	padding-right : 0;
	padding-top : 2px;
	text-align : center;
}

.rootactive .right		{
	background : url('rightActive.gif') center right;
	width : 7px;
}

.roothighlight	{
	cursor : default;
}

.roothighlight .left	{
	background : url('leftHighlight.gif');
	width : 7px;
}

.roothighlight .menu	{
	visibility : hidden;
}

.roothighlight .middle	{
	background : url('middle.gif');
	font-family : tahoma;
	font-size : 11px;
	height : 19px;
	padding : 1px;
	text-align : center;
}

.roothighlight .right	{
	background : url('right.gif') center right;
	width : 7px;
}

#menubar				{
	background : #D9D9D9;
	padding : 1px;
	width : 100%;
}
