﻿<%@ Page Title="Home Page" Language="vb" MasterPageFile="~/Site.Master" AutoEventWireup="false"
    CodeBehind="Default.aspx.vb" Inherits="HyperquestShopPoster._Default" Debug="true" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <h2>
        Welcome to Hyperquest Shop Poster!
    </h2>
    <p>
        Data:

    </p>
<p>
        <asp:TextBox ID="txtXML" runat="server" Height="175px" TextMode="MultiLine" 
            Width="491px"></asp:TextBox>

    </p>
<p>
        <asp:Button ID="btnSend" runat="server" Text="Send (Stage)" Width="86px" />

    &nbsp;&nbsp;
        <asp:Button ID="btnSendProd" runat="server" Text="Send (Prod)" Width="86px" />

    </p>
</asp:Content>
